/* NOTE: RUNNING FIXED HEADER HEAD MAKES THE MOST SENSE FOR THIS BANNER */
.carousel-item {
	.bg-picture-container {
		&.interior {
			height:200px !important;
		}
		height:100vh;
		@media screen and (max-width:1025px) {
			height:600px;
		}
		@include media-breakpoint-down(md) {
			height:480px;
		}
	}
	.carousel-caption {
		height:100%;
		width:100%;
		left:0;
		right:0;
		top:0;
		bottom:0;
		@include media-breakpoint-down(md) {
			width:90%;
			margin-left:auto;
			margin-right:auto;
		}
	}	
	.overlay1 {
		background:rgba(map-get($theme-colors, "primary"),.5);
		height:100%;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:1;
	}
	.overlay2 {
		background:map-get($theme-colors, "primary");
		height:100%;
		width:50%;
		position:absolute;
		top:0;
		right:0;
		z-index:3;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}
	.overlay3 {
		background:rgba(map-get($theme-colors, "secondary"), .4);
		height:100%;
		width:55%;
		position:absolute;
		top:0;
		right:0;
		z-index:2;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		
	}
	.form-container {
		filter:drop-shadow(0px 0px 4px rgba(0,0,0,.6));
		border:3px solid map-get($theme-colors, "secondary");
	}
}

.carousel-item {
	padding: 10px;
}