<!-- START CTA -->
<section class="row bg-primary">
	<div class="col-xl-8 col-lg-10 col-12 text-center mx-auto p-5">
		<div class="p-0 p-lg-5">
			<h2 class="text-white">
				Emergency Service Contact
			</h2>
			<p class="f-second sml text-uppercase text-white">
				Call Us Today at
				<a href="tel:+1-xxx-xxx-xxxx" class="call-num">xxx-xxx-xxxx</a>
			</p>
			<div>
				<a href="#link" class="btn btn-primary">
					Request Service Now
				</a>
			</div>
		</div>
	</div>
</section>
<!-- END CTA -->