<!-- START LATEST PROJECTS -->
<section class="row">
	<div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12 mx-auto p-3 p-lg-5 text-center">
		<h2 class="">
			Our Latest Projects
		</h2>
	</div>
	<div class="col-12 col-md-4 text-center">
		<div class="h-100 shadow p-3">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
				<img src="https://via.placeholder.com/1920x1080.jpg" alt="Project Title">
			</picture>
			<a href="#link">
				<p class="h3">Project 1</p>
			</a>
			<p>
				Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
			</p>
			<a href="#link" class="btn btn-primary">See This Project</a>
		</div>
	</div>
	<div class="col-12 col-md-4 text-center">
		<div class="h-100 shadow p-3">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
				<img src="https://via.placeholder.com/1920x1080.jpg" alt="Project Title">
			</picture>
			<a href="#link">
				<p class="h3">Project 2</p>
			</a>
			<p>
				Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
			</p>
			<a href="#link" class="btn btn-primary">See This Project</a>
		</div>
	</div>
	<div class="col-12 col-md-4 text-center">
		<div class="h-100 shadow p-3">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
				<img src="https://via.placeholder.com/1920x1080.jpg" alt="Project Title">
			</picture>
			<a href="#link">
				<p class="h3">Project 3</p>
			</a>
			<p>
				Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
			</p>
			<a href="#link" class="btn btn-primary">See This Project</a>
		</div>
	</div>
</section>
<!-- END LATEST PROJECTS -->