<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no">

		<link href="../css/site-theme/master-theme.css" rel="stylesheet" type="text/css">
		<link href="../css/fa.css" rel="stylesheet" type="text/css">

		<title>Navigation Menu 1</title>

		<script defer src="../js/navigation-manager-app.js" type="text/javascript"></script>

	</head>
	<body>
		<nav id="lg-nav-v2-1">
			<div role="presentation" id="nav-v2-trim"></div>
			<section id="nav-v2-flexer">
				<div id="nav-v2-logo-container">
					<img height="98" alt="The best KFC logo" src="../images/test-logo.png">
				</div>
				<div id="nav-v2-contents">
					<div id="nav-v2-cta-container">
						<!-- #nav-v2-cta-container element is safely removeable  -->
						<div>

						</div>
					</div>
					<div id="nav-v2-links">
						<div class="nav-v2-link">
							<a href="#">
								<span>Home</span>
							</a>
						</div>
						<div class="nav-v2-link">
							<a href="#">
								<span>Dropdown</span>
								<span class="nav-v2-spin-chevron"><i class="fas fa-chevron-right"></i></span>
							</a>
							<div class="nav-v2-dropdown">

							</div>
						</div>
					</div>
				</div>
			</section>
		</nav>
	</body>
</html>
