<!-- START BANNER -->
<section id="banner">
	<div class="carousel slide carousel-fade" data-ride="carousel" id="heroCarousel">
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#heroCarousel"></li>
			<li data-slide-to="1" data-target="#heroCarousel"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center" alt="First Banner Image">
					</picture>
				</div>
				<div class="carousel-caption d-flex align-items-center">
					<div class="col-12">
						<h5 class="h1 text-uppercase">
							First Header Here
						</h5>
						<div class="mb-0">
							<a href="#link" class="btn btn-primary">
								Request a Free Estimate
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center" alt="Second Banner Image">
					</picture>
				</div>
				<div class="carousel-caption d-flex align-items-center">
					<div class="col-6 darken py-4">
						<h5 class="h1 text-uppercase">
							Second Header Here
						</h5>
						<div class="mb-0">
							<a href="#link" class="btn btn-secondary">
								Request a Free Estimate
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END BANNER -->