<!-- START LATEST ARTICLES -->
<div class="row bg-light p-0">
	<div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12 animated-fade-in-left mx-auto p-5">
		<div class="p-0 p-lg-5">
			<h2 class="f-prime med text-secondary">
				OUR LATEST ARTICLES
			</h2>
			<ul class="mb-0 pb-0 timeline">
				<li>
					<a href="#link" class="timeline-title">
						Article Name
					</a>
					<p class="mx-0 my-2">
						In this final section, we'll review the reasons why site visitors should use your services. Our
						skilled writing staff will hit main key points about your unique services and what sets you
						apart from the competition.
					</p>
				</li>
				<li>
					<a href="#link" class="timeline-title">
						Article Name
					</a>
					<p class="mx-0 my-2">
						In this final section, we'll review the reasons why site visitors should use your services. Our
						skilled writing staff will hit main key points about your unique services and what sets you
						apart from the competition.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END LATEST ARTICLES -->