/* FixyNav Layout Styling ********************************************************************* */
@keyframes loload {
	from {
		margin-top: -100px;
		opacity: 0;
	}
	to {
		margin-top: 0px;
		opacity: 1;
	}
}
@keyframes logoload {
	from {
		width: 60%;
	}
	to {
		width: 45%;
	}
}
.logoh {
	width: 60%;
}
.turnME {
	position: fixed !important;
	width: 100%;
	top: 0;
	animation: loload 1s ease;
	.logoh {
		
		animation: logoload 1s ease forwards;
	}
}
/* ******************************************************************************************** */
