/* ******************************************************************************************** */
/* FOOTER STYLING ***************************************************************************** */
/* ******************************************************************************************** */

footer.fb-ftr-1 {
    background-color: darken($color-prime, 3%);
    font-family: $font-third;
    font-weight: normal;
    font-size: 0.9rem;
    color: #FFFFFF;
}
footer.fb-ftr-1 h4 {
    font-family: $font-prime;
    font-weight: normal;
    color: $color-third;
}
footer.fb-ftr-1 a {
    font-family: $font-third;
    font-weight: normal;
    font-size: 0.9rem;
    color: #FFFFFF;
    transition: all 0.5s ease;
    &:hover {
        color: $color-second;
    }
}
.fb-ftr-1 .quick-links a {
    display: block;
}
.fb-ftr-1 .service-areas a {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding-right: 6px;
}
.fb-ftr-1 .service-areas a:last-child {
    border-right: none;
    padding-right: 0;
}
.fb-ftr-1 .contact p {
    padding: 0;
    margin: 0;
}

/* ******************************************************************************************** */
