/* ******************************************************************************************** */
/* GOLDYLOX STYLING *************************************************************************** */
/* ******************************************************************************************** */

@font-face {
    font-family: 'fontello';
    src: url(../css/site-theme/fontello/font/fontello.ttf);
	font-display: swap;
}

/* Defining Font Families ********************************************************************* */
.f-prime {
    font-family: $font-prime !important;
}
.f-second {
    font-family: $font-second !important;
}
.f-third {
    font-family: $font-third !important;
}

/* Defining Font Colors *********************************************************************** */
.primes {
    color: $color-prime !important;
}
.seconds {
    color: $color-second !important;
}
.thirds {
    color: $color-third !important;
}
.white {
    color: #FFFFFF !important;
}
.black {
    color: #000000 !important;
}
.shadows {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.33);
}

/* Defining Background Colors ***************************************************************** */
.prime-bg-color {
    background-color: $color-prime !important;
}
.secondary-bg-color {
    background-color: $color-second !important;
}
.third-bg-color {
    background-color: $color-third !important;
}

/* Defining Paragraph Colors Based on Background Color **************************************** */
.prime-bg-color, .secondary-bg-color, .third-bg-color {
    color: #FFFFFF;
    p {
        color: #FFFFFF !important;
    }
}
/***************** new webp image handeling in banner ****/
// Define positions for object-position class
$positions: "top","center","bottom","left","right";
.bg-picture{
	object-fit:cover;
	height:100%;
	width:100%;
	position:absolute;
}

@each $position in $positions{
	.bg-picture-#{$position} {
		@extend .bg-picture;
		object-position:#{$position};
	}
}

.bg-picture-container{
	position:relative;
}


/* Sidebar Background Styling ***************************************************************** */
#sidebar {
    background-color: rgba($color-third, 0.50);
    box-sizing: border-box;
}

/* Border Right Styling *********************************************************************** */
#totheright {
    border-right: 2px solid #FFFFFF;
    @media screen and (max-width: $breakmed) {
        border-bottom: 2px solid #FFFFFF;
        border-right: 0px;
    }
}

/* Overlay Service Boxes Headers ************************************************************** */
.overlay-title {
    font-family: $font-prime;
    font-weight: normal;
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    color: white;
    margin-bottom: 0px;
}

/* Gradient BG Cover ************************************************************************** */
#gradient-background {
    background-image: url(../images/banner/banner-1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;
    @media screen and (max-width: $breakmed) {
        background-attachment: scroll;
        min-height: 300px;
    }
}
.bgcover {
    background-attachment: fixed !important;
    background-size: cover !important;
    p {
        color: #FFFFFF !important;
    }
    @media screen and (max-width: $breaklrg) {
        background-attachment: scroll !important;
    }
}
.gradcover {
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(15%, rgba(28,28,28,1)), color-stop(34%, rgba(38,38,38,0.75)), color-stop(100%, rgba(76,76,76,0)));
    background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1 );
}

/* Top Navigation Phone Number **************************************************************** */
.call-num {
	color: $color-second !important;
    transition: all 0.5s ease;
	&:hover {
		color: $color-prime !important;
	}
}

/* FontAwesome List Icon Styling ************************************************************** */
.icon-li, .checkmark-li, .dashed-li {
    list-style-type: none;
    padding: 0px;
    &::before {
        display: inline-block;
    }
    li {
        &::before {
            text-decoration: none;
            padding-right: 0.5rem;
            speak: none;
        }
    }
}
.icon-li {
    li {
        &::before {
            font-family: "fontello";
            content: '\e813' ;
        }
    }
}
.checkmark-li {
    li {
        &::before {
             font-family: "fontello";
            content: '\e819' ;
        }
    }
}
.dashed-li {
    li {
        &::before {
            font-family: "fontello";
            content: '\e819' ;
        }
    }
}

/* Overlay Service Boxes Icons Styling */
.user-icon, .envelope-icon, .twitter-icon, .search-icon {
 
}
.user-icon {
 
  &:before {
	  font-family: "fontello";
      content: '\e819' ;
  }
}
.envelope-icon {
    
    &:before {
        font-family: "fontello";
        content: '\e819' ;
    }
}
.twitter-icon {
     &:before {
	  font-family: "fontello";
      content: '\e819' ;
  }
}
.search-icon {
  
     &:before {
	  font-family: "fontello";
      content: '\e819' ;
  }
}

/* H3 Request Form Link *********************************************************************** */
.req-form {
	color: $color-third !important;
    transition: all 0.5s ease;
	&:hover {
		color: $color-prime !important;
	}
}

/* Accordion Styling ************************************************************************** */
#accordion .card-header button, .accordion .card-header button {
	white-space: normal;
	text-align: left;
}
#accordion {
	.card {
		border: 0px;
		margin: 0.25rem;
		.card-header {
			background-color: lighten($color-prime, 25%);
			border: 0px;
			padding: 0.5rem;
			h5 {
				button {
					font-family: $font-prime;
					font-weight: normal;
					letter-spacing: 1px;
					text-transform: uppercase;
					text-align: left;
					color: white !important;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.card-body {
			font-family: $font-second;
			font-weight: normal;
			font-size: 0.9rem !important;
			color: #555555 !important;
			p {
				font-family: $font-second;
				font-weight: normal;
				font-size: 0.9rem !important;
				color: #555555 !important;
			}
		}
	}
}

/* ******************************************************************************************** */
.ctasection {
	position:relative;
	z-index:2;
	div {
		position:absolute;
		background:$color-second;
		left:0;
		top:0;
		transform:translateY(-50%);
		@media screen and (max-width:$breaklrg) {
			width:100%;
			position:relative;
			transform:translateY(0);
		}
	}
}
.ctasectionr {
	position:relative;
	z-index:2;
	div {
		position:absolute;
		background:$color-second;
		right:0;
		top:0;
		transform:translateY(-50%);
		@media screen and (max-width:$breaklrg) {
			width:100%;
			position:relative;
			transform:translateY(0);
		}
	}
}
.boxers {
	position:absolute;
	z-index:2;
	bottom:0;
	left:0;
	transform:translateY(55%);
	@media screen and (max-width:$breaklrg) {
		position:relative;
		transform:translateY(0);
		.box {
			margin-top:5px;
			margin-bottom:5px;
		}
	}
	.box {
		
	}
}