$animations-duration: 190ms;

@keyframes fade-in-dropdown-menu{
	from{
		opacity:0;
		transform:translateY(90px);
	}

	to{
		opacity:1;
		transform:translateY(0);
	}
}

#lg-nav-v2-1{

	box-shadow:0 0 0.25rem 0.1rem rgba(0,0,0,0.2);

	#nav-v2-trim{
		background-color:map-get($theme-colors, primary);
		height:4px;
	}

	#nav-v2-flexer{
		display:flex;
		background-color:white;
		max-width:1420px;
		margin-left:auto;
		margin-right:auto;

		#nav-v2-logo-container{
			padding:0.6rem 1.5rem;
		}

		#nav-v2-contents{
			display:flex;
			flex-grow:1;
			flex-direction:column;
			align-items:flex-end;
			justify-content:center;
			padding:1.25rem 3.33rem;

			#nav-v2-links{
				display:flex;
				align-items:center;

				& > .nav-v2-link:not(:last-child){
					margin-right:1rem;
				}

				& > .nav-v2-link{
					position:relative;
					z-index:99;

					// First dropdown, the vertical one
					& > .nav-v2-1-dropdown{
						z-index:100;
						position:absolute;
						top:100%;
						left:0;
						display:none;
						width:225px;
						box-shadow:0 0 0.3rem 0.05rem rgba(0,0,0,.19);
						background-color:white;
						border-radius:0.15rem;
						overflow:hidden;

						& > .nav-v2-1-dropdown-1-link:not(:last-child){
							border-bottom:1px solid rgba(0,0,0,0.08);
						}

						& > .nav-v2-1-dropdown-1-link{
							position:relative;
							z-index:101;

							& > .nav-v2-1-border-animator{
								position:absolute;
								z-index:102;
								left:0;
								top:0;
								height:100%;
								width:0;
								background-color:map-get($theme-colors, primary);
								transition:width $animations-duration;
							}

							& > a{
								display:block;
								padding:0.75rem 1rem;
								color:rgb(50,50,50);
							}

							&:hover{
								& > .nav-v2-1-border-animator{
									width:4px;
								}

								& > a{
									color:map-get($theme-colors, primary);
								}
							}
						}
					}

					& > .nav-v2-1-load-line{
						height:2px;
						background-color:map-get($theme-colors, primary);
						width:0%;
						transition:width $animations-duration;
					}

					& > a{
						display:inline-flex;
						padding:0.75rem 1.5rem;
						align-items:center;

						& > .nav-v2-spin-chevron{
							margin-left:6px;
							& > i{
								transition:transform $animations-duration;
								font-size:0.75rem;
							}
						}
					}

					// When the nav link gets the hovered class from javascript
					&.is-hovered{

						& > .nav-v2-1-dropdown{
							display:block;
							animation:fade-in-dropdown-menu;
							animation-duration:$animations-duration;
							animation-fill-mode:forwards;
						}

						& > .nav-v2-1-load-line{
							width:100%;
						}

						& > a > .nav-v2-spin-chevron > i{
							transform:rotate(90deg);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:map-get($grid-breakpoints, xl)){
	#lg-nav-v2-1{
		display:none;
	}
}
