$spacer: 1rem;
$spacers:(
	6:($spacer * 4),
	7:($spacer * 5),
	8:($spacer * 6),
	9:($spacer * 7),
	10:($spacer * 8)
);

$deci-spacer: 0.1rem;
$deci-spacers:(
	1:($deci-spacer * 1),
	2:($deci-spacer * 2),
	3:($deci-spacer * 3),
	4:($deci-spacer * 4),
	5:($deci-spacer * 5),
	6:($deci-spacer * 6),
	7:($deci-spacer * 7),
	8:($deci-spacer * 8),
	9:($deci-spacer * 9),
);
