/* ******************************************************************************************** */
/* SASS VARIABLES SETUP *********************************************************************** */

@font-face {
	font-family: 'Montserrat-Bold';
	src: url(../../fonts/Montserrat-Bold.otf);
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url(../../fonts/Montserrat-Medium.otf);
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url(../../fonts/Roboto-Regular.ttf);
	font-display: swap;
}

/******************************************************************************************** */

$breaksmall: 576px;
$breakmed:   768px;
$breaklrg:   992px;
$breakxl:    1200px;

/* ******************************************************************************************** */

$color-prime:  #3E606F;
$color-second: #91AA9D;
$color-third:  #D1DBBD;
$color-alpha:  rgba($color-second, 0.50);

/* ******************************************************************************************** */

$font-prime:  Montserrat-Bold, sans-serif;
$font-second: Montserrat-Medium, sans-serif;
$font-third:  Roboto-Regular, sans-serif;

/* ******************************************************************************************** */
