// Define theme colors
$theme-colors: (
	"primary":#3d88c8,
	"info2":#17a2b8
);

// Enable rounded?
$enable-rounded: false;

// Border classes width
$theme-borders-width: 2px;

@import "../Bootstrap/scss/bootstrap.scss";
@import "breadcrumbs.scss";
@import "lists.scss";
@import "borders.scss";
@import "images.scss";
