/* ******************************************************************************************** */
/* CAROUSEL STYLING *************************************************************************** */
/* ******************************************************************************************** */

.carousel-item > div {
	min-height: 700px;
	@include media-breakpoint-down(lg) {
		min-height: 600px;
	}
	@include media-breakpoint-down(md) {
		min-height: 500px;
	}
	@include media-breakpoint-down(sm) {
		min-height: 400px;
	}
}
.form-hold {
	position:absolute;
	right:2%;
	top:50%;
	transform:translateY(-50%);
	background: map-get($theme-colors, "secondary");
	z-index:1;
	@include media-breakpoint-down(md) {
		display:none;
	}
}
/****************************************************** */