<!-- CLOSING DOOR -->
<div class="row bg-dark p-0">
	<div class="col-12 text-center mx-auto p-3">
		<div class="f-second sml text-white text-uppercase">
			Demo 3 - Closing Door on Hover
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-closing-door">
			<picture>
				<img src="https://via.placeholder.com/800x600" alt="Service One">
			</picture>
			<div class="service-content">
				<ul class="service-links">
					<li>
						<a href="#link">
							<i class="fas fa-plus"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fas fa-search"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="service-title">
				Service Name
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-closing-door">
			<picture>
				<img src="https://via.placeholder.com/800x600" alt="Service Two">
			</picture>
			<div class="service-content">
				<ul class="service-links">
					<li>
						<a href="#link">
							<i class="fas fa-plus"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fas fa-search"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="service-title">
				Service Name
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-closing-door">
			<picture>
				<img src="https://via.placeholder.com/800x600" alt="Service Three">
			</picture>
			<div class="service-content">
				<ul class="service-links">
					<li>
						<a href="#link">
							<i class="fas fa-plus"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fas fa-search"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="service-title">
				Service Name
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-closing-door">
			<picture>
				<img src="https://via.placeholder.com/800x600" alt="Service Four">
			</picture>
			<div class="service-content">
				<ul class="service-links">
					<li>
						<a href="#link">
							<i class="fas fa-plus"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fas fa-search"></i>
						</a>
					</li>
					<li>
						<a href="#link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="service-title">
				Service Name
			</div>
		</div>
	</div>
</div>
<!-- END CLOSING DOOR -->