<!-- START SMALL NAVIGATION -->
<nav class="d-block d-xl-none container-fluid" id="small-navigation-container-1">
	<div class="row align-items-center">
		<div class="col-sm col-12 text-sm-left text-center mx-auto ps-3 py-2">
			<a href="#link">
				<picture>
					<!--source type="image/webp" srcset="https://via.placeholder.com/150x150-mobile.webp"-->
					<img src="https://via.placeholder.com/150x150" alt="Company Name Logo">
				</picture>
			</a>
		</div>
		<div class="col-sm-7 col-12 mx-auto pe-sm-3 py-2">
			<div class="text-center text-sm-right">
				<span class="f-prime text-dark text-uppercase mb-0 pb-0">
					Call Us:<br><a href="tel:+1-xxx-xxx-xxxx" class="call-num h2">xxx-xxx-xxxx</a>
				</span>
			</div>
			<div class='text-right'>
				<a id="small-navigation-menu-opener-1">
					<img alt="Hamburger Menu" src="images/menu_hamburger_dark.svg" width="36">
				</a>
			</div>
		</div>
	</div>
	<div class="pullout-menu-backdrop position-fixed d-none flex-direction-column justify-content-end">
		<div>
			<div class="menu-heading">
				<span>Menu</span>
			</div>
			<div class="navigation-links">
				<div>
					<a href="#link">Home</a>
				</div>
				<div>
					<a href="#link">
						About <span class="float-end"><i class="fas fa-plus"></i></span>
					</a>
					<div class="tap-dropdown">
						<div>
							<a href="#link">About</a>
						</div>
						<div>
							<a href="#link">FAQ</a>
						</div>
						<div>
							<a href="#link">Latest Articles</a>
						</div>
						<div>
							<a href="#link">Service Area</a>
						</div>
					</div>
				</div>
				<div>
					<a href="#link">
						Services <span class="float-end"><i class="fas fa-plus"></i></span>
					</a>
					<div class="tap-dropdown">
						<div>
							<a href="#link">Services</a>
						</div>
						<div>
							<a href="#link">Service 1</a>
						</div>
						<div>
							<a href="#link">Service 2</a>
						</div>
						<div>
							<a href="#link">Service 3</a>
						</div>
						<div>
							<a href="#link">
								Service 4 <span class="float-end"><i class="fas fa-plus"></i></span>
							</a>
							<div class="tap-dropdown">
								<div>
									<a href="#link">Service 4</a>
								</div>
								<div>
									<a href="#link">Service 4A</a>
								</div>
								<div>
									<a href="#link">Service 4B</a>
								</div>
							</div>
						</div>
						<div>
							<a href="#link">
								Service 5 <span class="float-end"><i class="fas fa-plus"></i></span>
							</a>
							<div class="tap-dropdown">
								<div>
									<a href="#link">Service 5</a>
								</div>
								<div>
									<a href="#link">Service 5A</a>
								</div>
								<div>
									<a href="#link">Service 5B</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<a href="#link">Reviews</a>
				</div>
				<div>
					<a href="#link">Projects</a>
				</div>
				<div>
					<a href="#link">Resources</a>
				</div>
				<div>
					<a href="#link">Contact</a>
				</div>
			</div>
		</div>
	</div>
</nav>
<!-- END SMALL NAVIGATION -->