<!-- START IMAGE ZOOM ON HOVER -->
<section class="row bg-primary p-0">
	<h2 class="text-center text-white">
		Services
	</h2>
	<a href="#link" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-image-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service One">
			</picture>
			<div class="service-content">
				<div class="service-title">
					<span>Service Name</span>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-image-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service Two">
			</picture>
			<div class="service-content">
				<div class="service-title">
					<span>Service Name</span>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-image-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service Three">
			</picture>
			<div class="service-content">
				<div class="service-title">
					<span>Service Name</span>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-image-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service Four">
			</picture>
			<div class="service-content">
				<div class="service-title">
					<span>Service Name</span>
				</div>
			</div>
		</div>
	</a>
</section>
<!-- END IMAGE ZOOM ON HOVER -->