.img-dynamic{
	@extend .d-lg-inline;
	@extend .d-block;
	@extend .mx-auto;
	@extend .pb-3;
}

.img-r-dynamic{
	@extend .float-lg-right;
	@extend .img-dynamic;
	@extend .pl-lg-3;
}

.img-l-dynamic{
	@extend .float-lg-left;
	@extend .img-dynamic;
	@extend .pr-lg-3;
}

.bg-image{
	background-position:center;
	background-size:cover;
	min-height:200px;
	position:relative;
}
