<section class="row bg-parallax">
  <picture>
    <!-- <source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/640x300-mobile.webp"> -->
		<!-- <source type="image/webp" srcset="https://via.placeholder.com/640x300.webp"> -->
    <img src="https://via.placeholder.com/640x300">
  </picture>
  <div class="col-lg-8 col-md-10 col-sm-12 col-12 mx-auto p-2 p-lg-5 text-center">
		<h2 class="">
			Secondary Heading
		</h2>
		<p>
			Our graphic designers have prepared this unique layout - based on any previous
			marketing materials you may have provided and the style of site you indicated. This
			written content will be replaced once you approve the look and feel of your design.
		</p>
  </div>
</section>
