/* Original Large Navigation Container 2 ****************************************************** */
#large-navigation-container-2 .navigation-links [class^=col] {
    padding-left: unset;
    padding-right: unset;
}
#large-navigation-container-2 {
    background-color: #FEFEFE;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 200 !important;
}
#large-navigation-container-2 > div:first-child {
}
#large-navigation-container-2 > div:last-child {
    // background-color: map-get($theme-colors, "tertiary");
}
#large-navigation-container-2 .navigation-links > div > div {
    display: inline-block;
    position: relative;
    transition: all 450ms;
    text-align: center;
}
#large-navigation-container-2 .navigation-links > div > div > a {
    display: block;
    font-family: $font-second;
    font-weight: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    color: map-get($theme-colors, "secondary");
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#large-navigation-container-2 .navigation-links > div > div:hover {
    background-color: rgba(map-get($theme-colors, "primary"), 0.5);
}
#large-navigation-container-2 .navigation-links > div > div:hover > a {
    transition: color 150ms;
    text-decoration: none;
    color: #FFFFFF;
}
#large-navigation-container-2 .navigation-links > div > div > .dropdown,
#large-navigation-container-2 .navigation-links > div > div > .dropdown > div > .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 150%;
    max-width: 200%;
    /* display: none; */
    visibility: hidden;
    z-index: 2;
}
#large-navigation-container-2 .navigation-links > div > div > .dropdown > div > .dropdown {
    left: 100%;
    top: 0;
    z-index: 3;
}
/* Affects all divs in any dropdown */
#large-navigation-container-2 .dropdown > div {
	position: relative;
}
#large-navigation-container-2 .navigation-links > div > div .dropdown > div {
	background-color: map-get($theme-colors, "primary");
	text-align: left;
}
#large-navigation-container-2 .navigation-links > div > div .dropdown > div a {
	display: block;
    font-family: $font-second;
    font-weight: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;
    padding: 0.5rem;
    color: #FFFFFF;
}
#large-navigation-container-2 .navigation-links > div > div .dropdown > div > a {
	color: #FFFFFF;
}
#large-navigation-container-2 .navigation-links > div > div .dropdown > div:hover {
    background-color: darken(map-get($theme-colors, "secondary"), 15%);
    transition: background-color 150ms;
}
#large-navigation-container-2 .navigation-links > div > div .dropdown > div > a:hover {
	text-decoration: none;
}
#large-navigation-container-2 .navigation-links > div > div .dropdown > div:not(:last-child) {
}