<!-- START LARGE NAVIGATION -->
<div class="d-none d-xl-block p-0" id="large-navigation-container-2">
	<div class="row big-wrap mx-auto p-0 align-items-center">
		<div class="col p-1 text-left">
			<a href="#link">
				<img src="images/logo.png" alt="logo" width="300">
			</a>
		</div>
		<div class="col p-1 text-center">
			<span class="f-third sml seconds">Call Us Today!</span>
		</div>
		<div class="col p-1 text-right">
			<div>
				<a href="tel:+1-xxx-xxx-xxxx" class="f-prime med call-num"><i class="fas fa-phone"></i> xxx-xxx-xxxx</a>
			</div>
			<div>
				<a href="#link" class="btn btn-info">Request Service</a>
			</div>
		</div>
	</div>
	<div>
		<div class="container-fluid navigation-links big-wrap mx-auto">
			<div class="row">
				<div class="col">
					<a href="#link">Home</a>
				</div>
				<div class="col">
					<a href="#link">About Us</a>
					<div class="dropdown">
						<div>
							<a href="#link">Latest Projects</a>
						</div>
						<div>
							<a href="#link">Service Area</a>
						</div>
						<div>
							<a href="#link">Submit Feedback</a>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#link">Our Services</a>
					<div class="dropdown">
						<div>
							<a href="#link">Related-Service-1</a>
						</div>
						<div>
							<a href="#link">Related-Service-2</a>
						</div>
						<div>
							<a href="#link">Related-Service-3 +</a>
							<div class="dropdown">
								<div>
									<a href="#link">Related-Service-3a</a>
								</div>
								<div>
									<a href="#link">Related-Service-3b</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#link">FAQ</a>
				</div>
				<div class="col">
					<a href="#link">Reviews</a>
				</div>
				<div class="col">
					<a href="#link">Home Tips</a>
				</div>
				<div class="col">
					<a href="#link">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END LARGE NAVIGATION -->