/* ******************************************************************************************** */
/* BUTTONS STYLING **************************************************************************** */
/* ******************************************************************************************** */

/* Setting Up All Button Transitions and Font Styling */
.btn-banner, .btn-cta, .btn-more, .btn-reviews {
    font-family: $font-second;
    font-weight: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    padding: 0.5rem 1.5rem;
    color: #FFFFFF !important;
    border: 0px !important;
    display:inline-block;
}

/* Top Banner Button Styling */
.btn-banner {
    background-color: $color-prime;
    
    @media screen and (max-width: $breaklrg) {
        
    }
    @media screen and (max-width: $breakmed) {
       
    }
    &:hover {
        background-color: $color-second;
    }
}

/* CTA Button Styling */
.btn-cta {
    background-color: $color-second;
    &:hover {
        background-color: lighten($color-second, 20%);
    }
}

/* More Button - Typical Replacement for the Info Button Override */
.btn-more {
    background-color: $color-prime;
    &:hover {
        background-color: lighten($color-prime, 20%);
    }
}

/* Client Reviews Button Styling */
.btn-reviews {
    background-color: $color-second;
    &:hover {
        background-color: $color-third;
    }
}

/* ******************************************************************************************** */
