.carousel-item > div{
	height:800px;
	background-size:cover;
	background-position:center;
	@media screen and (max-width:$breaklrg) {
		height:400px;
	}
}
.carousel-item{
	padding:10px;
}


/* MD and below */
