/* ******************************************************************************************** */
/* CUSTOM SCSS FOR THIS PARTICULAR LAYOUT ***************************************************** */
/* ******************************************************************************************** */

.boxy-shadows {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}
#background-what-clients-are-saying {
    background-image: url(../images/banner/background-what-clients-are-saying.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
}

/* Jumping Icons Styling ********************************************************************** */
#jumping-icons {
	transition: all .1s linear;
	&:hover {
		transform: translateY(-10px);
	}
}

/* Change to Uppercase ************************************************************************ */
.upper {
    text-transform: uppercase !important;
}

/* Background ID References ******************************************************************* */
#bg1 {
    /* add styling here */
    background: url(../images/banner/banner-1.jpg) center;
}
#bg2 {
    background-color: #292929;
}
#bg3 {
    background: url(../images/banner/banner-2.jpg) center;
}
#bg4 {
    background: url(../images/banner/banner-3.jpg) center;
}

.next-btn {
	text-align: right;
}
.fullwindow {
	.row {
		background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.75) 51%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.75) 51%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
		.col-12 {
			z-index:2;
		}
	}
}

/* Banner Video Styling *********************************************************************** */
.overlay-vid {
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.75) 51%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.75) 51%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );

}
#myVideo {
	position:absolute;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	z-index:0;
	overflow:hidden;
	object-fit:cover;
}

/* KILL THIS IMPORT TO KILL THE FIXED NAV ***************************************************** */
@import 'fixynav';

/* COLLAPSE CARDS STYLING ********************************************************************* */
#collapseExample {
	.card {
		.card-body {
			p {
				font-family: $font-second;
				font-weight: normal;
				font-size: 0.9rem !important;
				color: #555555 !important;
			}
		}
	}
}

/* ******************************************************************************************** */
