/* custom scss for this particular layout */
@keyframes loload {
	from {
		opacity:0;
	}
	to {
		
		opacity:1;
	}
}
@keyframes logoload {
	from {
		width:100%;
	}
	to {
		width:30%;
	}
}
.turnME {
	position:fixed !important;
	width:100%;
	animation: loload 1s ease;
	.logoh {
		width:30%;
		animation:logoload 1s ease;
	}
}

		
		
		
		

	