/* ******************************************************************************************** */
/* GOLDYLOX STYLING *************************************************************************** */
/* ******************************************************************************************** */

@font-face {
    font-family: 'fontello';
    src: url(../fontello/fonts/fontello.ttf);
}

/* ******************************************************************************************** */
/* DEFINING FONT FAMILIES ********************************************************************* */

.f-prime {
    font-family: $font-prime !important;
}
.f-second {
    font-family: $font-second !important;
}
.f-third {
    font-family: $font-third !important;
}

/* ******************************************************************************************** */
/* DEFINING FONT COLORS *********************************************************************** */

.primes {
    color: $color-prime !important;
}
.seconds {
    color: $color-second !important;
}
.thirds {
    color: $color-third !important;
}
.white {
    color: #FFFFFF !important;
}
.black {
    color: #000000 !important;
}
.shadows {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.33);
}

/* ******************************************************************************************** */
/* DEFINING BACKGROUND COLORS ***************************************************************** */

.prime-bg-color {
    background-color: $color-prime !important;
}
.secondary-bg-color {
    background-color: $color-second !important;
}
.third-bg-color {
    background-color: $color-third !important;
}

/* ******************************************************************************************** */
/* DEFINING PARAGRAPH COLOR BASED ON BACKGROUND COLOR ***************************************** */

.prime-bg-color, .secondary-bg-color, .third-bg-color {
    color: #FFFFFF;
    p {
        color: #FFFFFF !important;
    }
}

/* ******************************************************************************************** */
/* LISTS STYLING ****************************************************************************** */

ol {
    &.listbad {
        li {
            padding: 1%;
        }
    }
}
ul {
    &.listpad {
        li {
            padding: 1%;
        }
    }
}

/* ******************************************************************************************** */
/* LIST LI STYLING **************************************************************************** */

.checked, .dashed, .icon {
    list-style-type: none;
    padding: 0;
    &::before {
        display: inline-block;
    }
}
.checked {
    li {
        &::before {
            font-family: "fontello";
            text-decoration: none;
            content: "\e80f \00a0";
            speak: none;
        }
    }
}
.dashed {
    li {
        &::before {
            content: "-\00a0";
        }
    }
}
.icon {
    li {
        &::before {
            font-family: "fontello";
            text-decoration: none;
            content: "\e819 \00a0";
            speak: none;
        }
    }
}

/* ******************************************************************************************** */
/* SIDEBAR ADJUSTMENTS ************************************************************************ */

#sidebar {
    background-color: rgba($color-third, 0.10);
    box-sizing: border-box;
}
#wufoo-hold {
    background-color: rgba(0, 0, 0, 0.15);
}
#totheright {
    border-right: 2px solid white;
    @media screen and (max-width: $breakmed) {
        border-right: 0px;
        border-bottom: 2px solid white;
    }
}
/* ******************************************************************************************** */
/* CARD STYLING ADJUSTMENTS ******************************************************************* */

.card {
    h2 {
        font-family: $font-prime;
        font-weight: bold;
    }
}

/* ******************************************************************************************** */
/* SERVICE OVERLAY BOX HEADERS **************************************************************** */

.services-box {
    background-color: $color-second;
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0px;
}

/* ******************************************************************************************** */
/* GRADIENT BG COVER ************************************************************************** */

#gradient-background {
    background-image: url(../images/banner/banner-1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;
    @media screen and (max-width: $breakmed) {
        background-attachment: scroll;
        min-height: 300px;
    }
}

.bgcover {
    background-size:cover !important;
    background-attachment:fixed !important;
    p {
        color:#fff !important;
    }
	@media screen and (max-width:$breaklrg) {
		background-attachment:scroll !important;
	}
}

.gradcover {
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(15%, rgba(28,28,28,1)), color-stop(34%, rgba(38,38,38,0.75)), color-stop(100%, rgba(76,76,76,0)));
    background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1 );
    h2 {
        color:$color-prime;
    }
}


.call-num {

	color: $color-second !important;

	&:hover {

		color: $color-prime !important;

	}

}
.req-form {
	color: white !important;
	&:hover {
		color: $color-second !important;
	}
}
.breadcrumb {
    background-color: transparent;
    border-left: 6px solid darken($color-third, 15%);
    border-bottom: 1px solid darken($color-third, 15%);
    background: none;
    padding: 0.33rem 1rem;
    font-family: $font-third;
    font-size: 0.88rem;
    font-weight: normal;
    text-transform: uppercase;
    color: $color-second !important;
    a {
        color: $color-second !important;
    }
}
.breadcrumb-item {
    font-family: $font-third;
    font-size: 0.88rem;
    font-weight: normal;
    &::before {
        color: darken($color-third, 15%) !important;
    }
    +.active {
        color: darken($color-third, 15%) !important;
    }
}
