/* ******************************************************************************************** */
/* CUSTOM CLASSES FOR THE NAVIGATION MENU IN HEADER STYLING *********************************** */
/* ******************************************************************************************** */

#large-navigation-container-2 {
	background-color: rgba($color-second, 0.15);
	position: relative;
	z-index: 1;
}
#large-navigation-container-2 .navigation-links > div > div {
	display: inline-block;
	position: relative;
	transition: all 450ms;
	text-align: center;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}
#large-navigation-container-2 .navigation-links > div > div:hover {
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 3px solid $color-prime;
}

/* CENTER LOGO LAYOUT EXAMPLE ***************************************************************** */

#large-navigation-container-2 {
	.logo-cntr {
		position: relative;
		margin: 0 10%;
		img {
			position: absolute;
			top: 70%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            max-width: none;
            width: 400px;
            @media screen and (max-width: $breaklrg) {
                width: 300px !important;
            }
		}
	}
}

/* ******************************************************************************************** */
