/******* ******** ********/
	/****** Large-screen Navigation Setup 2 *******/
	/******* ******** ********/

		#large-navigation-container-3{
			background-color:$lg-nav-3-bg-color;
			box-shadow:0 0 5px 2px rgba(0,0,0,0.33);
			position:relative; /* Box shadow doesn't show without a z-index */
			z-index:1;
		}

		#large-navigation-container-3.nav-fixed{
			position:fixed;
			top:0;
			left:0;
			width:100%;
		}

		#large-navigation-container-3 .navigation-links, #large-navigation-container-3 .navigation-links > div, #large-navigation-container-3 .navigation-links > div > div{
			height:100%;
		}

		#large-navigation-container-3 .navigation-links > div > div{
			transition:all 450ms;
			display:inline-block;
			position:relative;
		}

		#large-navigation-container-3 .navigation-links > div > div > a{
			color:$lg-nav-3-text-color;
			display:flex;
			align-items:center;
			justify-content: center;
			text-align:center;
			height:100%;
			font-size:1.25rem;
		}

		#large-navigation-container-3 .navigation-links > div > div:hover{
			background-color:darken($color-prime, 10%);
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			background-color:$lg-nav-3-hover-bg-color;
		}

		#large-navigation-container-3 .navigation-links > div > div:hover > a{
			transition:color 150ms;
			text-decoration:none;
			color:$lg-nav-3-hover-text-color;
		}

		#large-navigation-container-3 .navigation-links > div > div > .dropdown,
		#large-navigation-container-3 .navigation-links > div > div > .dropdown > div > .dropdown{
			width:100%;
			position:absolute;
			top:100%;
			left:0;
            min-width:140%;;
			max-width:200%;
			/*display:none;*/
			visibility:hidden;
			z-index:2;
		}

		#large-navigation-container-3 .navigation-links > div > div > .dropdown > div > .dropdown{
			left:100%;
			top:0;
			z-index:3;
		}

		/* Affects all divs in any dropdown */
		#large-navigation-container-3 .dropdown > div{
			position:relative;
		}

		#large-navigation-container-3 .navigation-links > div > div .dropdown > div{
			background-color:$lg-nav-3-dropdown-bg-color;
			text-align:left;
		}

		#large-navigation-container-3 .navigation-links > div > div .dropdown > div a{
			display:block;
			padding-left:0.5rem;
			padding-right:0.5rem;
			padding-top:0.5rem;
			padding-bottom:0.5rem;
		}

		#large-navigation-container-3 .navigation-links > div > div .dropdown > div > a{
			color:white;
		}

		#large-navigation-container-3 .navigation-links > div > div .dropdown > div:hover{
			transition:background-color 150ms;
			background-color:$lg-nav-3-dropdown-hover-bg-color;
		}

		#large-navigation-container-3 .navigation-links > div > div .dropdown > div > a:hover{
			text-decoration:none;
		}
