/* ******************************************************************************************** */
/* Custom Styling for the index-menu-in-header Template File ********************************** */
/* Created by: Sarah Wallick, July 03, 2019 *************************************************** */
/* ******************************************************************************************** */

/* Client Reviews Section Background Image **************************************************** */
#background-client-reviews {
    background-image: url(../images/banner/banner-client-reviews.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    @media screen and (max-width: $breakmed) {
        background-attachment: scroll;
        min-height: 400px;
    }
}

/* Latest Articles Timeline Example *********************************************************** */
ul.timeline {
    list-style-type: none;
    position: relative;
    &::before {
        background-color: rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: absolute;
        content: ' ';
        height: 100%;
        width: 2px;
        left: 29px;
        z-index: 10;
    }
    li {
        padding-left: 20px;
        margin: 20px 0;
        &::before {
            background-color: #FFFFFF;
            border: 2px solid $color-third;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            content: ' ';
            height: 20px;
            width: 20px;
            left: 20px;
            z-index: 10;
        }
    }
}
.timeline-title {
    font-family: $font-third;
    font-weight: normal;
    font-size: 1.25rem;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    color: $color-second;
    transition: all 0.5s ease;
    &:hover {
        color: $color-third;
    }
}

/* Hover Images on index-menu-in-header.html Template ***************************************** */
.bordered-gallery-boxes {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        overflow: hidden;
        filter: brightness(1.0);
        transform: scale(1.05);
        transition: all 0.5s ease;
    }
    .gallery-box-border {
        position: absolute;
        bottom: 0px; left: 0px;
        width: 100%; height: 10px;
        overflow: hidden;
        background-color: $color-third;
        transition: all 0.5s ease;
        transform: translateY(10px);
    }
    .gallery-box-link {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 40px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.5s ease;
        transform: translateY(-40px);
        a {
            font-family: $font-second;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;
            width: auto;
            height: 50px;
            color: #FFFFFF !important;
            position: absolute;
            top: 5px;
            right: 20px;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
    &:hover {
        img {
            transform: scale(1.1);
            filter: brightness(0.5);
        }
        .gallery-box-border, .gallery-box-link {
            transform: translateY(0px);
        }
    }
    @media screen and (max-width: 1024px) {
        /* Adjusting Image Hover Effects for iPad Pro Tablet Screen Sizes and Below */
        img {
            transform: scale(1.1);
            filter: brightness(0.5);
        }
        .gallery-box-border, .gallery-box-link {
            transform: translateY(0px);
        }
    }
}

/* ******************************************************************************************** */
