/* ******************************************************************************************** */
/* Custom Styling for the index-menu-in-header Template File (utilizes shrink-navigation.js) ** */

#small-navigation-container-1, #large-navigation-container-2 {
	box-shadow: none !important;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
#small-navigation-container-1 {
	z-index: 20 !important;
}
#large-navigation-container-2 {
	z-index: 200 !important;
}

.bordered-right {
	border-right: 1px solid rgba(255, 255, 255, 0.15);
}

/* Adjusting Carousel Image Sizes to Counter the Fixed Navigation Overlay */
.carousel-item > div {
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
	height: 900px;
	@media screen and (max-width: $breaklrg) {
		height: 600px;
	}
	@media screen and (max-width: $breakmed) {
		height: 500px;
	}
}
.carousel-item {
	padding: 10px;
}

/* Client Reviews Background for this Layout Template */
#background-what-clients-are-saying {
	background-image: url(../images/banner/background-what-clients-are-saying.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
	@media screen and (max-width: $breakmed) {
		background-attachment: scroll;
		min-height: 400px;
	}
}

/* Adjusting Hover Effects on Large Navigation Container */
#large-navigation-container-2 .navigation-links > div > div:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* ******************************************************************************************** */
