/* ******************************************************************************************** */
/* ******************************************************************************************** */

h1, h2, h3, h4, h5, h6, p {
    word-wrap: break-word;
}
p {
    font-family: $font-second;
}
h1, h2, h4 {
    font-family: $font-prime;
}

/* ******************************************************************************************** */

.large {
    font-size:3rem !important;
    @media screen and (min-width:$breakxl) {
        font-size:4rem !important;
    }
    @media screen and (max-width:$breaklrg){
        font-size:2.5rem !important;
    }
    @media screen and (max-width:$breakmed) {
        font-size:1.75rem !important;
    }
    @media screen and (max-width:$breaksmall) {
        font-size:1.3rem !important;
    }
}

/* ******************************************************************************************** */

.med {
    font-size:3rem !important;
     @media screen and (max-width:$breakmed) {
        font-size:1.35rem !important;
    }
    @media screen and (max-width:$breaksmall) {
        font-size:1.1rem !important;
    }
}

/* ******************************************************************************************** */

.sml { font-size:1.5rem !important;
     @media screen and (max-width:$breakmed) {
        font-size:1rem !important;
         @media screen and (max-width:$breaksmall) {
        font-size:.8rem !important;
    }
    }
}

/* List Styling ******************************************************************************* */
ol {
    &.listbad {
        li {
            padding: 1%;
        }
    }
}
ul {
    &.listpad {
        li {
            padding: 1%;
        }
    }
}

/* Breadcrumbs ******************************************************************************** */
.breadcrumb {
    background-color: transparent;
    border-left: 6px solid darken($color-third, 15%);
    border-bottom: 1px solid darken($color-third, 15%);
    background: none;
    padding: 0.33rem 1rem;
    font-family: $font-third;
    font-size: 0.88rem;
    font-weight: normal;
    text-transform: uppercase;
    color: $color-second !important;
    a {
        color: $color-second !important;
    }
}
.breadcrumb-item {
    font-family: $font-third;
    font-size: 0.88rem;
    font-weight: normal;
    &::before {
        color: darken($color-third, 15%) !important;
    }
    +.active {
        color: darken($color-third, 15%) !important;
    }
}

/* ******************************************************************************************** */
