/* ******************************************************************************************** */
/* SASS VARIABLES SETUP *********************************************************************** */

@font-face {
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url(../fonts/Roboto-Regular.ttf);
}

/* All FontAwesome Families ******************************************************************* */
@font-face {
    font-family: 'FontAwesome-Brands';
    src: url(../webfonts/fa-brands-400.ttf);
}
@font-face {
    font-family: 'FontAwesome-Regular';
    src: url(../webfonts/fa-regular-400.ttf);
}
@font-face {
    font-family: 'FontAwesome-Solids';
    src: url(../webfonts/fa-solid-900.ttf);
}

/* ******************************************************************************************** */

$breaksmall: 576px;
$breakmed:   768px;
$breaklrg:   992px;
$breakxl:    1200px;

/* ******************************************************************************************** */

$color-prime:  #3E606F;
$color-second: #91AA9D;
$color-third:  #D1DBBD;
$color-alpha:  rgba($color-second, 0.50);

/* ******************************************************************************************** */

$font-prime:  Montserrat-Bold, sans-serif;
$font-second: Montserrat-Medium, sans-serif;
$font-third:  Roboto-Regular, sans-serif;

/* ******************************************************************************************** */
