/* ******************************************************************************************** */
/* SASS VARIABLES SETUP *********************************************************************** */

@font-face {
	font-family: 'FiraSans-ExtraBold';
	src: url(../fonts/FiraSans-ExtraBold.otf);
}
@font-face {
	font-family: 'Montserrat-Light';
	src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url(../fonts/Raleway-Regular.ttf);
}

/* ******************************************************************************************** */

$breaksmall: 576px;
$breakmed:   768px;
$breaklrg:   992px;
$breakxl:    1200px;

/* ******************************************************************************************** */

$color-prime:  #3E606F;
$color-second: #91AA9D;
$color-third:  #D1DBBD;
$color-alpha:  rgba($color-second, 0.50);

/* ******************************************************************************************** */

$font-prime:  FiraSans-ExtraBold, sans-serif;
$font-second: Montserrat-Light, sans-serif;
$font-third:  Raleway-Regular, sans-serif;

/* ******************************************************************************************** */

$bg-special: url(../images/btn-cover2.png) repeat;

/* ******************************************************************************************** */
/* LARGE NAV 3 COLOR SETUP [CREAMY] *********************************************************** */

$lg-nav-3-bg-color: rgb(50,50,50);
$lg-nav-3-text-color: rgb(240,240,240);
$lg-nav-3-hover-text-color: rgb(240,240,240);
$lg-nav-3-hover-bg-color: rgb(70,70,70);
$lg-nav-3-dropdown-bg-color: rgb(239, 173, 89);
$lg-nav-3-dropdown-hover-bg-color: rgb(239, 157, 53);

/* ******************************************************************************************** */
