<!-- START TWO SLIDING BOXES -->
<div class="row bg-dark p-0">
	<div class="col-12 text-center mx-auto p-3">
		<div class="f-second sml white">
			Demo 7 - Two Sliding Boxes on Hover
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto p-0">
		<div class="service-sliding-zoombox">
			<picture>
				<img src="https://via.placeholder.com/800x600" alt="Service One">
			</picture>
			<div class="service-content">
				<div class="service-title">
					Service Name
				</div>
				<div class="service-links">
					<a href="#link" class="f-second tiny text-light">READ MORE <i class="fas fa-angle-right"></i></a>
				</div>
				<div class="service-info">
					Your Company's new web site will look like this. At this stage of the web site creation and
					build process, we are only concerned with the visual aesthetics of your page - the look and
					feel of your new website.
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto p-0">
		<div class="service-sliding-zoombox">
			<picture>
				<img src="https://via.placeholder.com/800x600" alt="Service Two">
			</picture>
			<div class="service-content">
				<div class="service-title">
					Service Name
				</div>
				<div class="service-links">
					<a href="#link" class="f-second tiny text-light">READ MORE <i class="fas fa-angle-right"></i></a>
				</div>
				<div class="service-info">
					Your Company's new web site will look like this. At this stage of the web site creation and
					build process, we are only concerned with the visual aesthetics of your page - the look and
					feel of your new website.
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END TWO SLIDING BOXES -->