.carousel-item > div {
	min-height: 700px;
	@include media-breakpoint-down(lg) {
		min-height: 600px;
	}
	@include media-breakpoint-down(md) {
		min-height: 500px;
	}
	@include media-breakpoint-down(sm) {
		min-height: 400px;
	}
}
.carousel-caption { 
	z-index:10;	
}
.banner-animation {
	animation-name: zoom-anim;
	animation-duration: 10s;
}
@keyframes zoom-anim {
	0% {
		transform:scale(1);
	}
	100% {
		transform:scale(1.2);
	}
}