<!-- START BANNER -->
<section id="banner">
	<div class="carousel slide carousel-fade" data-ride="carousel" id="heroCarousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#heroCarousel" class="active" data-bs-slide-to="0"></button>
			<button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-caption d-flex align-items-center h-100">
				<div class="col-12">
					<h5 class="h1">
						Header Here
					</h5>
					<div class="mb-0">
						<a href="#link" class="btn btn-primary">
							Request a Free Estimate
						</a>
					</div>
				</div>
			</div>
			<div class="carousel-item active p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center banner-animation" alt="First Banner Image">
					</picture>
				</div>
			</div>
			<div class="carousel-item p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center banner-animation" alt="Second Banner Image">
					</picture>
				</div>
			</div>
			<div class="carousel-item p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center banner-animation" alt="Third Banner Image">
					</picture>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<!-- END BANNER -->