.img-dynamic{
	@extend .d-lg-inline;
	@extend .d-block;
	@extend .mx-auto;
	@extend .pb-3;
}

.img-r-dynamic{
	@extend .float-lg-end;
	@extend .img-dynamic;
	@extend .ps-lg-3;
}

.img-l-dynamic{
	@extend .float-lg-start;
	@extend .img-dynamic;
	@extend .pe-lg-3;
}

.bg-image{
	background-position:center;
	background-size:cover;
	min-height:200px;
	position:relative;
}
