<!-- START 4 OVERLAY BOXES -->
<div class="row secondary-bg-color">
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture class="overlay-bg-image">
				<!--<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
				<source type="image/webp" media="(max-width:599px)"  srcset="images/services/service-1-m.webp">-->
				<img src="images/services/service-1.jpg" alt="">
			</picture>
			<div class="overlay from-left">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture class="overlay-bg-image">
				<!--<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
				<source type="image/webp" media="(max-width:599px)"  srcset="images/services/service-1-m.webp">-->
				<img src="images/services/service-1.jpg" alt="">
			</picture>
			<div class="overlay from-top">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture class="overlay-bg-image">
				<!--<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
				<source type="image/webp" media="(max-width:599px)"  srcset="images/services/service-1-m.webp">-->
				<img src="images/services/service-1.jpg" alt="">
			</picture>
			<div class="overlay from-bottom">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture class="overlay-bg-image">
				<!--<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
				<source type="image/webp" media="(max-width:599px)"  srcset="images/services/service-1-m.webp">-->
				<img src="images/services/service-1.jpg" alt="">
			</picture>
			<div class="overlay from-right">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END 4 OVERLAY BOXES -->