<!-- START H2 SECTION -->
<section class="row">
	<div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12 mx-auto p-3 p-lg-5 order-2 order-lg-1">
		<h2 class="">
			Secondary Heading
		</h2>
		<p>
			Our graphic designers have prepared this unique layout - based on any previous
			marketing materials you may have provided and the style of site you indicated. This
			written content will be replaced once you approve the look and feel of your design.
		</p>
		<a href="#link" class="btn btn-primary">Read More</a>
	</div>
	<div class="col-xl-3 col-lg-3 p-0 order-1 order-lg-2">
		<picture>
			<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/640x300-mobile.webp"-->
			<!--source type="image/webp" srcset="https://via.placeholder.com/640x300.webp"-->
			<img src="https://via.placeholder.com/640x300" alt="Service Image" class="bg-picture-center">
		</picture>
	</div>
</section>
<!-- END H2 SECTION -->