<!-- START BANNER -->
	<section id="banner" class="position-relative">
		<div class="carousel slide carousel-fade" data-bs-ride="carousel" id="heroCarousel">
			<div class="carousel-inner">
				<div class="carousel-caption d-flex align-items-center">
					<div class="col-12">
						<h5 class="h1 text-light text-shadow">
							BRING YOUR HOME BACK TO LIFE!
						</h5>
						<p class="h2 f-prime text-light text-shadow">SCHEDULE YOUR EXTERIOR CLEANING SERVICES TODAY!</p>
						<div class="d-block d-md-flex align-items-center justify-content-center">
							<div class="mb-0">
								<a href="#link" class="btn btn-primary m-1">
									Request a Free Estimate
								</a>
							</div>
							<div class="mb-0">
								<a href="#link" class="btn btn-primary m-1">
									Click To Call Us
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item active p-0">
					<div class="bg-picture-container">
						<picture>
							<!--source media="(max-width:568px)" type="image/webp" srcset="images/banners/banner-m.webp">
							<source type="image/webp" srcset="images/banners/banner.webp"-->
							<img src="images/banners/banner.jpg" class="bg-picture-center" alt="First Banner Image">
						</picture>
					</div>
				</div>
				<div class="carousel-item p-0">
					<div class="bg-picture-container">
						<picture>
							<!--source media="(max-width:568px)" type="image/webp" srcset="images/banners/banner-1-m.webp">
							<source type="image/webp" srcset="images/banners/banner-1.webp"-->
							<img src="images/banners/banner-1.jpg" class="bg-picture-center" alt="Second Banner Image">
						</picture>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<img src="images/h-cut.svg" class="h-cut bottom bbanner">
	</section>
	<!-- END BANNER -->