.service-sliding-zoombox {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        overflow: hidden;
        filter: brightness(0.8);
        transition: all 0.5s ease;
    }
    .service-content {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        .service-title {
            font-family: $font-prime;
            font-weight: normal;
            font-size: 2rem;
            text-transform: uppercase;
            text-decoration: none;
            text-align: left;
            width: 100%;
            height: auto;
            color: #FFFFFF;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0px;
            left: 0px;
            transform: translateX(-200%);
            transition: all 0.5s ease;
        }
        .service-info {
			font-family: $font-prime;
            font-weight: normal;
            font-size: 0.9rem;
            text-transform: uppercase;
            text-decoration: none;
            text-align: right;
            width: 60%;
            height: auto;
            color: #FFFFFF;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0px;
            right: 0px;
            transform: translateX(200%);
            transition: all 0.5s ease;
        }
    }
    &:hover {
        img {
            filter: brightness(0.6);
        }
        .service-content {
            .service-title, .service-info {
                transform: translateX(0);
            }
        }
    }
    @media screen and (max-width: 1024px) {
        /* adjusting hover effects for ipad pro screen sizes and smaller */
        img, img:hover {
            filter: brightness(0.6);
        }
        .service-content, .service-content:hover {
            .service-title, .service-info {
                transform: translateX(0);
            }
            .service-title {
                font-size: 32px !important;
            }
            .service-info {
                width: 100% !important;
            }
        }
    }
    @media screen and (max-width: 768px) {
        /* adjusting hover effects for standard ipad screen sizes and smaller */
        img, img:hover {
            filter: brightness(0.6);
        }
        .service-content, .service-content:hover {
            .service-title, .service-info {
                transform: translateX(0);
            }
            .service-title {
                font-size: 24px !important;
            }
            .service-info {
                width: 100% !important;
                opacity: 0;
            }
        }
    }
}