<!-- START FOOTER -->
<footer class="fb-ftr-1">
	<div class="container-fluid mx-auto">
		<div class="row big-wrap mx-auto p-3 p-md-5">
			<div class="col-lg-3 col-sm-6 col-12 align-self-center text-center mx-auto p-3">
				<a href="#link">
					<picture>
						<!--<source type="image/webp" media="(min-width:600px)" srcset="images/logo.webp">
						<source type="image/webp" media="(max-width:599px)"  srcset="images/logo-m.webp">-->
						<img src="images/logo.png" alt="" width="150">
					</picture>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6 col-12 text-center text-md-left mx-auto p-3">
				<h4>Contact</h4>
				<div class="contact">
					<p itemprop="legalName">
						Company Name
					</p>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<p itemprop="streetAddress">
							Street Address
						</p>
						<p>
							<span itemprop="addressLocality">City</span>,
							<span itemprop="addressRegion">ST</span>
							<span itemprop="postalCode">ZIP</span>
						</p>
					</div>
					<p class="mt-3 mb-0">
						Phone: <a href="tel:+1-xxx-xxx-xxxx" itemprop="telephone" content="xxx-xxx-xxxx">xxx-xxx-xxxx</a>
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12 text-center text-md-left mx-auto p-3">
				<h4>Quick Links</h4>
				<div class="quick-links">
					<a href="#link/">Google Places</a>
					<a href="#link/">Articles</a>
					<a href="#link/">Privacy Policy</a>
					<a href="#link/">Terms of Use</a>
					<a href="#link/">Sitemap</a>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12 text-center text-md-left mx-auto p-3">
				<h4>Service Areas</h4>
				<div class="service-areas">
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
					<a href="#link">City, ST</a>
				</div>
				<div class="mt-3 text-right">
					<a href="#link">View All</a>
				</div>
			</div>
		</div>
		<div class="row p-0" style="background-color: rgba(0, 0, 0, 0.1);">
			<div class="col-12 big-wrap text-center text-md-left mx-auto p-3">
				<p class="mb-0">
					&copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					<!-- Uncomment the PHP code in builds and remove the above document.write code -->
					<!-- <?= date("Y"); ?> -->
					<span itemprop="name"><a itemprop="url" href="#">Company Name</a></span>, Rights Reserved
				</p>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER -->