<!-- START SIDE BY SIDE OVERLAY -->
<section class="row">
	<div class="col-12 col-md-6 service-overlay p-0">
		<div class="bg-picture-container h-100">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="bg-picture-center">
			</picture>
			<div class="text-overlay left-overlay">
				<div class="row m-0 h-100 align-items-center">
					<div class="col-12 p-3">
						<h2>Service 1</h2>
						<p>
							Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
						</p>
						<a href="#link" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 service-overlay p-0">
		<div class="bg-picture-container h-100">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="bg-picture-center">
			</picture>
			<div class="text-overlay right-overlay">
				<div class="row m-0 h-100 align-items-center">
					<div class="col-12 p-3">
						<h2>Service 2</h2>
						<p>
							Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
						</p>
						<a href="#link" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END SIDE BY SIDE OVERLAY -->