<!-- START SIDE BY SIDE OVERLAY -->
<section class="row bg-primary p-0">
	<h2 class="text-center text-white">
		Services
	</h2>
	<a href="#link" class="col-12 col-md-6 service-overlay p-0">
		<div class="bg-picture-container h-100">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="bg-picture-center" alt="Service One">
			</picture>
			<div class="text-overlay start-overlay">
				<div class="row m-0 h-100 align-items-center">
					<div class="col-12 p-3">
						<h2>Service 1</h2>
					</div>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-12 col-md-6 service-overlay p-0">
		<div class="bg-picture-container h-100">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="bg-picture-center" alt="Service Two">
			</picture>
			<div class="text-overlay end-overlay">
				<div class="row m-0 h-100 align-items-center">
					<div class="col-12 p-3">
						<h2>Service 2</h2>
					</div>
				</div>
			</div>
		</div>
	</a>
</section>
<!-- END SIDE BY SIDE OVERLAY -->