<!-- START BANNER -->
<div id="banner">
	<div class="carousel slide carousel-fade" data-ride="carousel" id="heroCarousel">
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#heroCarousel"></li>
			<li data-slide-to="1" data-target="#heroCarousel"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center" alt="First Banner Image">
					</picture>
				</div>
				<div class="carousel-caption d-flex align-items-center">
					<div class="col-12">
						<h5 class="h1">
							First Header Here
						</h5>
						<div class="mb-0">
							<a href="#link" class="btn btn-primary">
								Request a Free Estimate
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item align-items-center p-0">
				<div class="bg-picture-container">
					<picture>
						<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
						<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
						<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center" alt="Second Banner Image">
					</picture>
				</div>
				<div class="carousel-caption d-flex align-items-center">
					<div class="col-12">
						<h5 class="h1">
							Second Header Here
						</h5>
						<div class="mb-0">
							<a href="#link" class="btn btn-secondary">
								Request a Free Estimate
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-container rounded shadow col-xl-3 col-4 text-center">
			<p class="f-prime h2 text-white pt-2">Contact Us</p>
			<div id="wufoo-m1e57wpt1mlunr8"> Fill out my <a href="https://aarono.wufoo.com/forms/m1e57wpt1mlunr8">online form</a>. </div> <script type="text/javascript"> var m1e57wpt1mlunr8; (function(d, t) { var s = d.createElement(t), options = { 'userName':'aarono', 'formHash':'m1e57wpt1mlunr8', 'autoResize':true, 'height':'326', 'async':true, 'host':'wufoo.com', 'header':'hide', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { m1e57wpt1mlunr8 = new WufooForm(); m1e57wpt1mlunr8.initialize(options); m1e57wpt1mlunr8.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
		</div>
	</div>
</div>
<!-- END BANNER -->