<!-- START BORDERED ZOOM ON HOVER -->
<section class="row bg-dark p-0">
	<div class="col-12 text-center mx-auto p-3">
		<div class="f-second sml text-white text-uppercase">
			Demo 2 - Bordered Zoom on Hover
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-bordered-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service One">
			</picture>
			<div class="service-content">
				<div class="service-title">
					Service Name
				</div>
				<div class="service-button">
					<a href="#link" class="btn btn-service">Learn More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-bordered-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service Two">
			</picture>
			<div class="service-content">
				<div class="service-title">
					Service Name
				</div>
				<div class="service-button">
					<a href="#link" class="btn btn-service">Learn More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-bordered-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service Three">
			</picture>
			<div class="service-content">
				<div class="service-title">
					Service Name
				</div>
				<div class="service-button">
					<a href="#link" class="btn btn-service">Learn More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
		<div class="service-bordered-zoom">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" alt="Service Four">
			</picture>
			<div class="service-content">
				<div class="service-title">
					Service Name
				</div>
				<div class="service-button">
					<a href="#link" class="btn btn-service">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END BORDERED ZOOM ON HOVER -->