<!-- START BANNER -->
<section id="banner">
	<div class="bg-picture-container">
		<picture>
			<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/1920x1080-mobile.webp"-->
			<!--source type="image/webp" srcset="https://via.placeholder.com/1920x1080.webp"-->
			<img src="https://via.placeholder.com/1920x1080" class="bg-picture-center" alt="First Banner Image">
		</picture>
		<div class="p-3 text-center banner-content">
			<h5 class="h1 text-white">
				First Header Here
			</h5>
			<div class="mb-0">
				<a href="#link" class="btn btn-primary">
					Request a Free Estimate
				</a>
			</div>
		</div>
	</div>
</section>
<!-- END BANNER -->