<!-- START BANNER -->
	<div id="banner">
		<div class="bg-picture-container">
			<picture>
				<!--<source media="(min-width:600px)" type="image/webp" srcset="images/banner/banner-1.webp">
				<source media="(max-width:599px)" type="image/webp" srcset="images/banner/banner-1-m.webp">-->
				<img src="images/banner/banner-1.jpg" alt="First Banner Image" class="bg-picture-center">
			</picture>
			<div class="col-10 p-3 text-center caption">
				<h5 class="f-prime h1 text-white upper mb-0 pb-0">
					First Header Here
				</h5>
				<div class="mt-3 mb-0">
					<a href="#link" class="btn btn-primary">
						Request a Free Estimate
					</a>
				</div>
			</div>
		</div>	
	</div>
<!-- END BANNER -->