/* Latest Articles Timeline Example *********************************************************** */
ul.timeline {
    list-style-type: none;
    position: relative;
    &::before {
        background-color: rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: absolute;
        content: ' ';
        height: 100%;
        width: 2px;
        left: 29px;
        z-index: 10;
    }
    li {
        padding-left: 20px;
        margin: 20px 0;
        &::before {
            background-color: #FFFFFF;
            border: 2px solid map-get($theme-colors, "secondary");
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            content: ' ';
            height: 20px;
            width: 20px;
            left: 20px;
            z-index: 10;
        }
    }
}
.timeline-title {
    font-family: $font-third;
    font-weight: normal;
    font-size: 1.25rem;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    color: map-get($theme-colors, "light") !important;
    transition: all 0.5s ease;
    &:hover {
        color: lighten($color-prime, 10%) !important;
    }
}