/* ******************************************************************************************** */
/* FOOTER STYLING ***************************************************************************** */
/* ******************************************************************************************** */

footer.fb-ftr-1, footer.fb-ftr-3 {
    background-color:map-get($theme-colors, light);
    font-family: $font-third;
    font-weight: normal;
    font-size: 0.9rem;
    color: #333;
}
footer.fb-ftr-2 {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: $font-third;
    font-weight: normal;
    font-size: 0.9rem;
    color: #fff;
	.bg-picture {
		z-index:0;
		filter:brightness(.5);
	}
}
.icon-fr {
	
	&:hover {
       
	}
}
footer.fb-ftr-1 h4, footer.fb-ftr-2 h4, footer.fb-ftr-3 h4  {
    font-family: $font-prime;
    font-weight: normal;
    color: map-get($theme-colors, "secondary");
}
footer.fb-ftr-1 a, footer.fb-ftr-3 a, footer.fb-ftr-2 a {
    font-family: $font-third;
    font-weight: bold;
    font-size: 0.9rem;
    color:$color-prime;
    transition: all 0.5s ease;
    &:hover {
        color:lighten($color-second, 0%);
    }
}
.fb-ftr-1 .quick-links a {
    display: block;
	margin-top:5px;
	margin-bottom:5px;
}
.fb-ftr-2 .quick-links a, .fb-ftr-3 .quick-links a {
	display:inline-block;
	margin-left:3px;
	margin-right:3px;
	margin-top:5px;
	margin-bottom:5px;
}

ul.service-areas {
	padding-left:0;
	li {
		display:inline-block;
		padding:5px 0 5px 0;
		a {
			padding-top:8px;
			padding-bottom:8px;
		}
		&::after {
		content:'|';
		position:relative;
		margin-left:6px;
		margin-right:6px;
		
		}
		&:last-of-type {
			&::after {
				content:'';
			}
		}
	}
	@include media-breakpoint-down(xl) {
		li {
			display:block;
			padding:5px 0 5px 0;
			&::after {
				content:'';
				margin:0;
			}
		}
	}
}
.fb-ftr-1 .contact p {
    padding: 0;
    margin: 0;
}
.section-border {
    border-top: .5px solid rgba(0, 0, 0, 0.1);
}

/* ******************************************************************************************** */
