.list-style-position-inside {
	list-style-position: inside;
	padding-inline-start: 0px;
}
.icon-no, .underline-list, .icon {
	font-family: $font-third;
	font-weight: normal;
	font-size: 0.9rem;
	li {
		padding-left: 0;
		
		a {
			text-decoration:none;
			padding-left:.5rem;
			@include media-breakpoint-down(md) {
				margin-top:10px;
				margin-bottom:10px;
			}
		}
	}
	
	&.text-light {
		li {
			color:map-get($theme-colors, light);
			a {
				color:map-get($theme-colors, light);
			}
		}
	}
	&.text-dark {
		li {
			color:map-get($theme-colors, dark);
			a {
				color:map-get($theme-colors, dark);
			}
		}
	}
	&.icon {
		li {
			list-style:none;
			padding:0;
			a {
				padding:0;
				svg {
					margin-right:2px;
					max-width:1rem;
					width:99%;
					top:-1px;
				}
			}
		}
	}
	&.inline {
		li {
			display:inline-block;
			margin-top:10px;
			margin-bottom:10px; 
			&:not(:last-child) {
				border-right:1px solid $light;
			}
			a {
				padding-right:.4rem;
				padding-left:.4rem;
			}
		}
		@include media-breakpoint-down(sm) {
			li {display:block;
				&:not(:last-child) {
					border-right:none;
				}
					
					@include media-breakpoint-down(md) {
						margin-top:10px;
						margin-bottom:10px; 
					
				}
			}
		}
		&.dark {
			li {
				&:not(:last-child) {
					border-color:$dark !important;
				}
			}
		}
	}
	&.underline-list {
	li {
		list-style:none;
		padding:.5rem 0rem;
		border-bottom:1px solid rgba(0, 0, 0, .3);
	}
}
	&.icon-no {
	li {
		list-style:none;
		
		a {
			
		}
	}
}
	&.larger {
		li {
			font-size:calc(1rem + .275vw);
			font-family:$font-prime;
			svg {
					margin-right:2px;
					max-width:calc(1rem + .275vw);
					width:99%;
					top:-1px;
				}
			
			a {
				font-size:calc(1rem + .275vw);
				font-family:$font-prime;
				svg {
					margin-right:2px;
					max-width:calc(1rem + .275vw);
					width:99%;
					top:-1px;
				}
				
			}
		}
	}
}

@each $color, $value in $theme-colors {
	.marker-#{$color} {
		li::marker {		
			color: #{$value};
		}
	}
}
