<!-- START LATEST ARTICLES -->
<section class="row">
	<div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12 mx-auto p-3 p-lg-5">
		<h2 class="">
			Our Latest Articles
		</h2>
		<ul class="timeline mb-0">
			<li>
				<a href="#link" class="timeline-title">
					Article Name
				</a>
				<p>
					In this final section, we'll review the reasons why site visitors should use your services. Our
					skilled writing staff will hit main key points about your unique services and what sets you
					apart from the competition.
				</p>
			</li>
			<li>
				<a href="#link" class="timeline-title">
					Article Name
				</a>
				<p>
					In this final section, we'll review the reasons why site visitors should use your services. Our
					skilled writing staff will hit main key points about your unique services and what sets you
					apart from the competition.
				</p>
			</li>
		</ul>
	</div>
</section>
<!-- END LATEST ARTICLES -->