<!-- START CLIENT REVIEWS -->
<div class="row" id="bg-reviews">
	<div class="bg-picture-container col-12 p-0">
		<picture>
			<img src="https://via.placeholder.com/1920x1080" alt="Reviews Background" class="bg-picture">
		</picture>
		<div class="row h-100 align-items-center mx-auto">
			<div class="col-xl-8 col-lg-10 col-12 align-self-center text-center mx-auto p-5">
				<div class="p-0 p-lg-5">
					<h2 class="text-white text-uppercase mb-3 pb-0">
						What Our Clients Are Saying
					</h2>
					<div class="carousel slide" data-ride="carousel" id="testimonials">
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<p class="testimonial text-light mb-0 p-0">
									<i class="fas fa-quote-left"></i>
										Reviews coming soon! [...]
									<i class="fas fa-quote-right"></i>
								</p>
							</div>
							<div class="carousel-item">
								<p class="testimonial text-light mb-0 p-0">
									<i class="fas fa-quote-left"></i>
										Reviews coming soon! [...]
									<i class="fas fa-quote-right"></i>
								</p>
							</div>
						</div>
					</div>
					<div class="mt-3 mb-0">
						<a href="#link" class="btn btn-primary">Read More Reviews</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CLIENT REVIEWS -->