Options +FollowSymLinks
Options -Indexes

RewriteEngine On
RewriteOptions inherit
RewriteBase /

# Handles Non-SSL redirect to WWW
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !footbridgemobile [NC]
RewriteCond %{HTTP_HOST} !referralx [NC]
RewriteCond %{HTTP_HOST} !^[\d]{1,3}\.[\d]{1,3}\. [NC]
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Handles SSL redirect to WWW
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !footbridgemobile [NC]
RewriteCond %{HTTP_HOST} !referralx [NC]
RewriteCond %{HTTP:X-Forwarded-Proto} https [OR]
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# Force SSL (uncomment to use)
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

#####################################################################
####################### Land of Redirects ###########################
#####################################################################

RewriteCond %{REQUEST_URI} /pageName.php
RewriteRule ^(.+)$ /toPageName.php [L,R=301]

ErrorDocument 404 /404.php

<IfModule mod_deflate.c>
	# Compress HTML, CSS, JavaScript, Text, XML and fonts
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
	AddOutputFilterByType DEFLATE application/x-font
	AddOutputFilterByType DEFLATE application/x-font-opentype
	AddOutputFilterByType DEFLATE application/x-font-otf
	AddOutputFilterByType DEFLATE application/x-font-truetype
	AddOutputFilterByType DEFLATE application/x-font-ttf
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE font/opentype
	AddOutputFilterByType DEFLATE font/otf
	AddOutputFilterByType DEFLATE font/ttf
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE image/x-icon
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml
</IfModule>

# Caching
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 week"
	ExpiresByType image/jpeg "access 1 week"
	ExpiresByType image/gif "access 1 week"
	ExpiresByType image/png "access 1 week"
	ExpiresByType text/css "access 1 week"
	ExpiresByType text/html "access 1 week"
	ExpiresByType application/pdf "access 1 week"
	ExpiresByType text/x-javascript "access 1 week"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
	ExpiresByType application/x-shockwave-flash "access 1 week"
	ExpiresByType image/x-icon "access 1 week"
	ExpiresDefault "access 1 week"
</IfModule>

# Force WebP to be served as non octet-streams
<IfModule mime_module>
	AddType image/webp .webp
</IfModule>

# New servers may not handle .php errors correctly
RewriteCond %{REQUEST_URI} \.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond /404.php -f
RewriteRule ^(.+)$ /404.php

# Redirect index pages to non-index duplicates
RewriteCond %{REQUEST_URI} (.+)/index.php$
RewriteRule ^(.+)$ %1/ [L,R=301]

RewriteCond %{REQUEST_URI} ^/index.php$
RewriteRule ^(.+)$ / [L,R=301]

# The following rules handle the fact that some file types may have different ways of being typed.
# They also have different spellings (JPEG vs jpeg vs JPG vs jpg)

RewriteCond %{REQUEST_URI} (.+)\.jpg$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.jpeg -f
RewriteRule ^(.+)$ %1.jpeg

RewriteCond %{REQUEST_URI} (.+)\.jpeg$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.JPG -f
RewriteRule ^(.+)$ %1.JPG

RewriteCond %{REQUEST_URI} (.+)\.JPG$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.JPEG -f
RewriteRule ^(.+)$ %1.JPEG

RewriteCond %{REQUEST_URI} (.+)\.JPEG$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.JPG -f
RewriteRule ^(.+)$ %1.JPG [L]

RewriteCond %{REQUEST_URI} (.+)\.png$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.PNG -f
RewriteRule ^(.+)$ %1.PNG

RewriteCond %{REQUEST_URI} (.+)\.PNG$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.png -f
RewriteRule ^(.+)$ %1.png [L]

RewriteCond %{REQUEST_URI} (.+)\.pdf$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.PDF -f
RewriteRule ^(.+)$ %1.PDF

RewriteCond %{REQUEST_URI} (.+)\.PDF$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1.pdf -f
RewriteRule ^(.+)$ %1.pdf [L]
