<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/<?= $companyInfo->getSchema(); ?>">

<head>

	<title>PROOF</title>

	<meta name="description" property="og:description" content="" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta property="og:type" content="website" />
	<meta itemprop="logo" content="<?= $baseUrl ?>/images/logo.png">
	<meta content="<?= $tools->getOGTitle(); ?>" property="og:title">
	<meta property="og:image" itemprop="image" content="<?= $tools->getOGImage(); ?>" >
	<meta name="format-detection" content="telephone=no">

	<!-- DEVELOPER NOTES - Remove NoIndex/NoFollow on Build -->
	<meta name="robots" content="noindex, nofollow">

	<!-- DEVELOPER NOTES - Remove Pop-Up Script on Build -->
	<script defer src="js/proof-preview.js"></script>

	<!-- Favicon Reference -->
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="favicon.ico" rel="icon" type="image/x-icon">

	<link href="css/site-theme/master-theme.css" rel="stylesheet" type="text/css">
	<link href="css/fa.css" rel="stylesheet" type="text/css">
	<link href="fontello/css/fontello.css" rel="stylesheet" type="text/css">
	<link href="js/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css">

	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script defer src="css/Bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script defer src="js/navigation-manager-app.min.js" type="text/javascript"></script>
	<script defer src="js/start-hero-carousel.js" type="text/javascript"></script>
	<script defer src="/js/paginate.js"></script>
	<script defer src="/js/accordion.js"></script>
	<script defer src="js/lightbox/js/lightbox.min.js"></script>
	<script defer src="js/anime.min.js"></script>
	<script defer src="js/inView.jquery.min.js"></script>
	<script defer src="js/animation-engine.min.js"></script>

	<!-- Remove This to Remove Fixy Navigation -->
	<script defer src="js/fixy.js"></script>

</head>

<body>

	<!-- START POPUP -->
	<div id="preview-only-notice" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white">
						This is only a preview!
					</h5>
					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						You are currently viewing a proof (design preview) of your website. Once
						you have approved the layout and design, the rest of your website will be
						built out following a similar theme.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- END POPUP -->

	<a class="skip-main" href="#content">Skip to main content</a>

	<!-- START SMALL NAVIGATION -->
	<div class="d-block d-xl-none" id="small-navigation-container-1">
		<div class="d-flex align-items-center">
			<div class="col p-1 pl-3 text-left">
				<img src="images/logo.png" alt="logo" width="150">
			</div>
			<div class="col-6 p-1 text-right">
				<a href="tel:+1-xxx-xxx-xxxx" class="f-prime med call-num">
					<i class="fas fa-phone"></i> XXX-XXX-XXXX
				</a>
			</div>
			<div class="col-2 p-1 pr-3 text-right">
				<a id="small-navigation-menu-opener-1">
					<img alt="Hamburger Menu" src="images/menu_hamburger_dark.svg" width="36">
				</a>
			</div>
		</div>
		<div class="pullout-menu-backdrop position-fixed d-none flex-direction-column justify-content-end">
			<div>
				<div class="menu-heading">
					<span>Menu</span>
				</div>
				<div class="navigation-links">
					<div>
						<a href="#link">Home</a>
					</div>
					<div>
						<a href="#link">About</a>
						<div class="tap-dropdown">
							<div>
								<a href="#link">Latest Projects</a>
							</div>
							<div>
								<a href="#link">Service Area</a>
							</div>
							<div>
								<a href="#link">Submit Feedback</a>
							</div>
						</div>
					</div>
					<div>
						<a href="#link">Services</a>
						<div class="tap-dropdown">
							<div>
								<a href="#link">Service 1</a>
							</div>
							<div>
								<a href="#link">Service 2</a>
							</div>
							<div>
								<a href="#link">Service 3 +</a>
								<div class="tap-dropdown">
									<div>
										<a href="#link">Service 3a</a>
									</div>
									<div>
										<a href="#link">Service 3b</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<a href="#link">FAQ</a>
					</div>
					<div>
						<a href="#link">Reviews</a>
					</div>
					<div>
						<a href="#link">Home Tips</a>
					</div>
					<div>
						<a href="#link">Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SMALL NAVIGATION -->

	<!-- START LARGE NAVIGATION -->
	<div class="d-none d-xl-block p-0" id="large-navigation-container-2">
		<div class="row big-wrap mx-auto p-0 align-items-center cTop">
			<div class="col p-1 pl-3 text-left">
				<img src="images/logo.png" alt="logo" class="logoh">
			</div>
			<div class="col p-1 pr-3 text-right">
				<div>
					<a href="tel:+1-xxx-xxx-xxxx" class="f-prime med call-num">
						<i class="fas fa-phone"></i> XXX-XXX-XXXX
					</a>
				</div>
				<div>
					<a href="#link" class="btn btn-more">Request Service</a>
				</div>
			</div>
		</div>
		<div>
			<div class="container-fluid navigation-links big-wrap mx-auto">
				<div class="row cMenub">
					<div class="col">
						<a href="#link">Home</a>
					</div>
					<div class="col">
						<a href="#link">About</a>
						<div class="dropdown">
							<div>
								<a href="#link">Latest Projects</a>
							</div>
							<div>
								<a href="#link">Service Area</a>
							</div>
							<div>
								<a href="#link">Submit Feedback</a>
							</div>
						</div>
					</div>
					<div class="col">
						<a href="#link">Services</a>
						<div class="dropdown">
							<div>
								<a href="#link">Service 1</a>
							</div>
							<div>
								<a href="#link">Service 2</a>
							</div>
							<div>
								<a href="#link">Service 3 +</a>
								<div class="dropdown">
									<div>
										<a href="#link">Service 3a</a>
									</div>
									<div>
										<a href="#link">Service 3b</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<a href="#link">FAQ</a>
					</div>
					<div class="col">
						<a href="#link">Reviews</a>
					</div>
					<div class="col">
						<a href="#link">Home Tips</a>
					</div>
					<div class="col">
						<a href="#link">Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END LARGE NAVIGATION -->

	<!-- START BANNER -->
	<div id="banner" class="boxy-shadows bigger-wrap mx-auto">
		<div class="carousel slide" data-ride="carousel" id="heroCarousel">
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#heroCarousel"></li>
				<li data-slide-to="1" data-target="#heroCarousel"></li>
				<li data-slide-to="2" data-target="#heroCarousel"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active align-items-center p-0">
					<div style="background-image:url('images/banner/banner-1.jpg');"></div>
					<div class="carousel-caption d-flex align-items-center text-center">
						<div class="flex-flow text-center align-items-center col-12">
							<h5 class="f-prime med white shadows">
								Prime Header Here
							</h5>
							<a href="#link" class="btn btn-banner">
								Learn More
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item align-items-center p-0">
					<div style="background-image:url('images/banner/banner-2.jpg');"></div>
					<div class="carousel-caption d-flex align-items-center text-center">
						<div class="flex-flow text-center align-items-center col-12">
							<h5 class="f-prime med white shadows">
								Prime Header Here
							</h5>
							<a href="#link" class="btn btn-banner">
								Learn More
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item align-items-center p-0">
					<div style="background-image:url('images/banner/banner-3.jpg');"></div>
					<div class="carousel-caption d-flex align-items-center text-center">
						<div class="flex-flow text-center align-items-center col-12">
							<h5 class="f-prime med white shadows">
								Prime Header Here
							</h5>
							<a href="#link" class="btn btn-banner">
								Learn More
							</a>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" data-slide="prev" href="#heroCarousel" role="button">
				<span aria-hidden="true" class="carousel-control-prev-icon"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" data-slide="next" href="#heroCarousel" role="button">
				<span aria-hidden="true" class="carousel-control-next-icon"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- END BANNER -->

	<!-- START CONTENT -->
	<div class="container-fluid boxy-shadows bigger-wrap mx-auto">

		<!-- START CTA -->
		<div class="row prime-bg-color p-0">
			<div class="col-12 text-center mx-auto p-4">
				<div class="f-prime med text-light">
					Emergency Service Contact
				</div>
				<div class="f-second sml">
					<a href="tel:+1-xxx-xxx-xxxx" class="text-light">CALL US TODAY AT XXX-XXX-XXXX</a>
				</div>
				<div class="mt-3 mb-0">
					<a href="#link" class="btn btn-cta">
						Request Service Now
					</a>
				</div>
			</div>
		</div>
		<!-- END CTA -->

		<!-- START 4 OVERLAY BOXES -->
		<div class="row secondary-bg-color p-0">
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<h2 class="overlay-title sml p-2">
					<i class="user-icon"></i> Service Name
				</h2>
				<div class="overlay-container">
					<img class="overlay-bg-image" alt="service name" src="images/services/service-1.jpg">
					<div class="overlay from-left">
						<div class="overlay-text">
							<span>Learn More</span>
							<a href="#link"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<h2 class="overlay-title sml p-2">
					<i class="search-icon"></i> Service Name
				</h2>
				<div class="overlay-container">
					<img class="overlay-bg-image" alt="service name" src="images/services/service-2.jpg">
					<div class="overlay from-top">
						<div class="overlay-text">
							<span>Learn More</span>
							<a href="#link"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<h2 class="overlay-title sml p-2">
					<i class="envelope-icon"></i> Service Name
				</h2>
				<div class="overlay-container">
					<img class="overlay-bg-image" alt="service name" src="images/services/service-3.jpg">
					<div class="overlay from-bottom">
						<div class="overlay-text">
							<span>Learn More</span>
							<a href="#link"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<h2 class="overlay-title sml p-2">
					<i class="twitter-icon"></i> Service Name
				</h2>
				<div class="overlay-container">
					<img class="overlay-bg-image" alt="service name" src="images/services/service-4.jpg">
					<div class="overlay from-right">
						<div class="overlay-text">
							<span>Learn More</span>
							<a href="#link"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END 4 OVERLAY BOXES -->

		<!-- START ABOUT US / CONTACT FORM -->
		<div class="row bg-white p-0">
			<div class="order-2 order-lg-1 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mx-auto p-5" id="sidebar">
				<div class="f-prime med primes">
					CONTACT US
				</div>
				<div id="wufoo-m1e57wpt1mlunr8"> Fill out my <a href="https://aarono.wufoo.com/forms/m1e57wpt1mlunr8">online form</a>. </div> <script type="text/javascript"> var m1e57wpt1mlunr8; (function(d, t) { var s = d.createElement(t), options = { 'userName':'aarono', 'formHash':'m1e57wpt1mlunr8', 'autoResize':true, 'height':'326', 'async':true, 'host':'wufoo.com', 'header':'hide', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { m1e57wpt1mlunr8 = new WufooForm(); m1e57wpt1mlunr8.initialize(options); m1e57wpt1mlunr8.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
			</div>
			<div class="order-1 order-lg-2 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 justify-content-center align-items-center align-self-center text-left mx-auto p-5">
				<div class="p-0 p-lg-5">
					<nav aria-label="breadcrumb" class="w-100">
						<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
							<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Home</span></a><meta itemprop="position" content="1"></li>
							<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Library</span></a><meta itemprop="position" content="2"></li>
							<li class="breadcrumb-item active" aria-current="page"><a href="#" itemprop="item"><span itemprop="name">Data</span></a><meta itemprop="position" content="3"></li>
						</ol>
					</nav>
					<h1 class="f-prime med primes">
						Your Company Name
						<div class="f-third sml text-secondary">
							Any Corresponding Text Will Go Here
						</div>
					</h1>
					<p class="mx-0 my-3">
						<strong>Your Company</strong>'s new web site will look like this. At this stage of the web site creation and build
						process, we are only concerned with the visual aesthetics of your page - the look and feel of your new website.
					</p>
					<p class="mx-0 my-3">
						Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have
						provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
					</p>
					<div class="f-third sml text-secondary">
						Our Services Include:
					</div>
					<div class="row bg-light mx-auto p-0">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mx-auto p-4">
							<ul class="f-second icon-li primes">
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
							</ul>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mx-auto p-4">
							<ul class="f-second checkmark-li primes">
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
							</ul>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mx-auto p-4">
							<ul class="f-second dashed-li primes">
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
								<li>
									<a href="#link" class="text-dark">List Item</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END ABOUT US / CONTACT FORM -->

		<!-- START CLIENT REVIEWS -->
		<div class="row p-0" id="background-what-clients-are-saying">
			<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 justify-content-center align-items-center align-self-center text-center mx-auto p-5">
				<div class="f-prime med white">
					WHAT OUR CLIENTS ARE SAYING
				</div>
				<div class="carousel slide" data-ride="carousel" id="testimonials">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<p class="testimonial text-light p-0">
								<i class="fas fa-quote-left"></i>
								Reviews coming soon! [...]
								<i class="fas fa-quote-right"></i>
							</p>
							<a class="btn btn-reviews" href="#link">Read More Reviews</a>
						</div>
						<div class="carousel-item">
							<p class="testimonial text-light p-0">
								<i class="fas fa-quote-left"></i>
								Reviews coming soon! [...]
								<i class="fas fa-quote-right"></i>
							</p>
							<a class="btn btn-reviews" href="#link">Read More Reviews</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END CLIENT REVIEWS -->

		<!-- START ACCORDION -->
		<div class="row prime-bg-color p-0">
			<div class="col-xl-7 col-lg-7 col-md-10 col-sm-12 col-12 text-left mx-auto p-5">
				<h2 class="f-prime med white">
					OUR LATEST ARTICLES
				</h2>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Collapsible-Group-Item-1
								</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body text-dark">
								Our graphic designers have prepared this unique layout - based on any previous marketing
								materials you may have provided and the style of site you indicated. This written
								content will be replaced once you approve the look and feel of your design.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Collapsible-Group-Item-2
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body text-dark">
								Our graphic designers have prepared this unique layout - based on any previous marketing
								materials you may have provided and the style of site you indicated. This written
								content will be replaced once you approve the look and feel of your design.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END ACCORDION -->

		<!-- START H3 -->
		<div class="row secondary-bg-color p-0">
			<div class="col-xl-7 col-lg-7 col-md-10 col-sm-12 col-12 text-left mx-auto p-5">
				<div class="f-prime med white">
					CONTACT US
				</div>
				<h3 class="f-third sml white">
					If you are looking for a company-type in the service-area area, please call us today at
					<a href="tel:+1-xxx-xxx-xxxx" class="text-light">xxx-xxx-xxxx</a>, or complete our
					<a href="#link" class="req-form">online request form</a>.
				</h3>
			</div>
		</div>
		<!-- END H3 -->

	</div>
	<!-- END CONTENT -->

	<!-- START FOOTER -->
	<footer class="fb-ftr-1">
		<div class="container-fluid mx-auto">
			<div class="row big-wrap mx-auto pl-5 pr-5 pt-5 pb-2">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 justify-content-center align-items-center align-self-center text-center mx-auto p-3">
					<img src="images/logo.png" alt="logo">
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 text-center text-md-left mx-auto p-3">
					<h4>Contact</h4>
					<div class="contact">
						<p itemprop="legalName">
							Company Name
						</p>
						<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<p itemprop="streetAddress">
								Street Address
							</p>
							<p>
								<span itemprop="addressLocality">City</span>,
								<span itemprop="addressRegion">ST</span>
								<span itemprop="postalCode">ZIP</span>
							</p>
						</div>
						<p class="mt-3 mb-0">
							Phone: <span itemprop="telephone">xxx-xxx-xxxx</span>
						</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 text-center text-md-left mx-auto p-3">
					<h4>Quick Links</h4>
					<div class="quick-links">
						<a href="#link/">Google Places</a>
						<a href="#link/">Articles</a>
						<a href="#link/">Privacy Policy</a>
						<a href="#link/">Terms of Use</a>
						<a href="#link/">Sitemap</a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 text-center text-md-left mx-auto p-3">
					<h4>Service Areas</h4>
					<div class="service-areas">
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
						<a href="#link">City, ST</a>
					</div>
					<div class="text-right">
						<a href="#link">AND MORE</a>
					</div>
				</div>
			</div>
			<div class="row big-wrap mx-auto pl-5 pr-5 pt-2 pb-5">
				<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 text-center text-md-left mx-auto p-3" style="border-top:1px solid rgba(255, 255, 255, 0.15);">
					<p class="mb-0">
						&copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						<!-- Uncomment the PHP code in builds and remove the above document.write code -->
						<!-- <?= date("Y"); ?> -->
						<span itemprop="name"><a itemprop="url" href="#">Company Name</a></span>, Rights Reserved
					</p>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3 text-center mx-auto p-3" style="border-top:1px solid rgba(255, 255, 255, 0.15);">
					<p class="mb-0">
						<a href="#link">
							<i class="fab fa-facebook-f"></i>
						</a>
					</p>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3 text-center mx-auto p-3" style="border-top:1px solid rgba(255, 255, 255, 0.15);">
					<p class="mb-0">
						<a href="#link">
							<i class="fab fa-twitter"></i>
						</a>
					</p>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3 text-center mx-auto p-3" style="border-top:1px solid rgba(255, 255, 255, 0.15);">
					<p class="mb-0">
						<a href="#link">
							<i class="fab fa-yelp"></i>
						</a>
					</p>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3 text-center mx-auto p-3" style="border-top:1px solid rgba(255, 255, 255, 0.15);">
					<p class="mb-0">
						<a href="#link">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- END FOOTER -->

</body>
</html>
