<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/<?= $companyInfo->getSchema(); ?>">

<head>

	<title>PROOF</title>

	<meta name="description" property="og:description" content="" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta property="og:type" content="website" />
	<meta itemprop="logo" content="<?= $baseUrl ?>/images/logo.png">
	<meta content="<?= $tools->getOGTitle(); ?>" property="og:title">
	<meta property="og:image" itemprop="image" content="<?= $tools->getOGImage(); ?>" >
	<meta name="format-detection" content="telephone=no">
	<!-- DEVELOPER NOTES - Remove NoIndex/NoFollow on Build -->
	<meta name="robots" content="noindex, nofollow">
	<!-- DEVELOPER NOTES - Remove Pop-Up Script on Build -->
	<script defer src="js/proof-preview.js"></script>
	<!-- Favicon Reference -->
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href="css/site-theme/master-theme.css" rel="stylesheet" type="text/css">
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script defer src="css/Bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script defer src="js/navigation-manager-app.min.js" type="text/javascript"></script>
	<script defer src="/js/paginate.js"></script>
	<script defer src="/js/accordion.js"></script>
	<script defer src="js/anime.min.js"></script>
	<script defer src="js/inView.jquery.min.js"></script>
	<script defer src="js/animation-engine.min.js"></script>
	<!-- Remove This to Remove Fixy Navigation -->
	<script defer src="js/fixy.js"></script>
</head>

<body>

	<!-- START CONTENT -->
	<div class="container-fluid">

		<!-- START TITLE AND INFO -->
		<div class="row bg-danger p-0">
			<div class="col-xl-7 col-lg-7 col-md-9 col-sm-11 col-11 text-center mx-auto p-5">
				<div class="f-prime med white">
					SERVICE BOX IMAGE EFFECTS
				</div>
				<div class="f-third text-light">
					Once you have chosen some service box effects to use in your current layout,
					please delete any remaining customization from the _endless-service-boxes.scss file
					to decrease the overall file size without having an unnecessary amount of unused styling.
				</div>
			</div>
		</div>
		<!-- END TITLE AND INFO -->

		<!-- START DEMO 1 - FADE IN ON HOVER -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 1 - SERVICE NAME &amp; LINKS FADE IN ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-fadein-hover">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-links">
							<a href="#link">
								<i class="fas fa-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-fadein-hover">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-links">
							<a href="#link">
								<i class="fas fa-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-fadein-hover">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-links">
							<a href="#link">
								<i class="fas fa-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-fadein-hover">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-links">
							<a href="#link">
								<i class="fas fa-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 1 - FADE IN ON HOVER -->

		<!-- START DEMO 2 - BORDERED ZOOM ON HOVER -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 2 - BORDERED ZOOM ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-bordered-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-button">
							<a href="#link" class="btn btn-service">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-bordered-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-button">
							<a href="#link" class="btn btn-service">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-bordered-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-button">
							<a href="#link" class="btn btn-service">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-bordered-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-button">
							<a href="#link" class="btn btn-service">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 2 - BORDERED ZOOM ON HOVER -->

		<!-- START DEMO 3 - CLOSING DOOR -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 3 - CLOSING DOOR ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-closing-door">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<ul class="service-links">
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="service-title">
						Service Name
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-closing-door">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<ul class="service-links">
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="service-title">
						Service Name
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-closing-door">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<ul class="service-links">
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="service-title">
						Service Name
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-closing-door">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<ul class="service-links">
							<li>
								<a href="#link">
									<i class="fas fa-plus"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fas fa-search"></i>
								</a>
							</li>
							<li>
								<a href="#link">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="service-title">
						Service Name
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 3 - CLOSING DOOR -->

		<!-- START DEMO 4 - IMAGE ZOOM ON HOVER -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 4 - IMAGE ZOOM ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-zoom">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 4 - IMAGE ZOOM ON HOVER -->

		<!-- START DEMO 5 - IMAGE DARKEN ON HOVER -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 5 - IMAGE DARKEN ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-darken">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-darken">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-darken">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-darken">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 5 - IMAGE DARKEN ON HOVER -->

		<!-- START DEMO 6 - IMAGE BRIGHTEN ON HOVER -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 6 - IMAGE BRIGHTEN ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-brighten">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-brighten">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-brighten">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mx-auto p-0">
				<div class="service-image-brighten">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							<a href="#link">Service Name</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 6 - IMAGE BRIGHTEN ON HOVER -->

		<!-- START DEMO 7 - TWO SLIDING BOXES -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 7 - TWO SLIDING BOXES ON HOVER
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto p-0">
				<div class="service-sliding-zoombox">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-links">
							<a href="#link" class="f-second tiny text-light">READ MORE <i class="fas fa-angle-right"></i></a>
						</div>
						<div class="service-info">
							Your Company's new web site will look like this. At this stage of the web site creation and
							build process, we are only concerned with the visual aesthetics of your page - the look and
							feel of your new website.
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto p-0">
				<div class="service-sliding-zoombox">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="service-content">
						<div class="service-title">
							Service Name
						</div>
						<div class="service-links">
							<a href="#link" class="f-second tiny text-light">READ MORE <i class="fas fa-angle-right"></i></a>
						</div>
						<div class="service-info">
							Your Company's new web site will look like this. At this stage of the web site creation and
							build process, we are only concerned with the visual aesthetics of your page - the look and
							feel of your new website.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 7 - TWO SLIDING BOXES -->

		<!-- START DEMO 8 - POP UP INFO ON HOVER -->
		<div class="row bg-dark p-0">
			<div class="col-12 text-center mx-auto p-3">
				<div class="f-second sml white">
					DEMO 8 - POP UP INFO ON HOVER
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mx-auto p-0">
				<div class="popup-service-box">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="popup-content">
						<div class="popup-title">
							Service Name
						</div>
						<div class="popup-line"></div>
						<div class="popup-desc">
							<a href="#link">Learn More <i class="fas fa-chevron-circle-left"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mx-auto p-0">
				<div class="popup-service-box">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="popup-content">
						<div class="popup-title">
							Service Name
						</div>
						<div class="popup-line"></div>
						<div class="popup-desc">
							<a href="#link">Learn More <i class="fas fa-chevron-circle-left"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mx-auto p-0">
				<div class="popup-service-box">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="popup-content">
						<div class="popup-title">
							Service Name
						</div>
						<div class="popup-line"></div>
						<div class="popup-desc">
							<a href="#link">Learn More <i class="fas fa-chevron-circle-left"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mx-auto p-0">
				<div class="popup-service-box">
					<picture >
						<source type="image/webp" media="(min-width:600px)" srcset="images/services/service-1.webp">
						<source type="image/webp" media="(max-width:599px)" srcset="images/services/service-1-m.webp">
						<img src="images/services/service-1.jpg" alt="">
					</picture>
					<div class="popup-content">
						<div class="popup-title">
							Service Name
						</div>
						<div class="popup-line"></div>
						<div class="popup-desc">
							<a href="#link">Learn More <i class="fas fa-chevron-circle-left"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEMO 8 - POP UP INFO ON HOVER -->

		<!-- START REMOVABLE SPACING -->
		<div class="row bg-danger p-0">
			<div class="col-12 mx-auto p-5"></div>
		</div>
		<!-- END REMOVABLE SPACING -->

	</div>
	<!-- END CONTENT -->

</body>
</html>
