<!-- START 4 OVERLAY BOXES -->
<section class="row bg-secondary">
	<h2 class="text-center text-white">
		Services
	</h2>
	<a href="#link" class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service One">
			</picture>
			<div class="overlay from-start">
				<div class="overlay-text">
					<span>Service One</span>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service Two">
			</picture>
			<div class="overlay from-top">
				<div class="overlay-text">
					<span>Service Two</span>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service Three">
			</picture>
			<div class="overlay from-bottom">
				<div class="overlay-text">
					<span>Service Three</span>
				</div>
			</div>
		</div>
	</a>
	<a href="#link" class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service Four">
			</picture>
			<div class="overlay from-end">
				<div class="overlay-text">
					<span>Service Four</span>
				</div>
			</div>
		</div>
	</a>
</section>
<!-- END 4 OVERLAY BOXES -->