<!-- START 4 OVERLAY BOXES -->
<section class="row bg-secondary">
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service One">
			</picture>
			<div class="overlay from-left">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service Two">
			</picture>
			<div class="overlay from-top">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service Three">
			</picture>
			<div class="overlay from-bottom">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12 mx-auto p-0">
		<h2 class="overlay-title sml p-2">
			<i class="fas fa-check"></i> Service Name
		</h2>
		<div class="overlay-container">
			<picture>
				<!--source media="(max-width:568px)" type="image/webp" srcset="https://via.placeholder.com/800x600-mobile.webp"-->
				<!--source type="image/webp" srcset="https://via.placeholder.com/800x600.webp"-->
				<img src="https://via.placeholder.com/800x600" class="overlay-bg-image" alt="Service Four">
			</picture>
			<div class="overlay from-right">
				<div class="overlay-text">
					<span>Learn More</span>
					<a href="#link"></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END 4 OVERLAY BOXES -->