/* ******************************************************************************************** */
/* BUTTONS STYLING **************************************************************************** */
/* ******************************************************************************************** */

.btn-call-num, .btn-req-serv, .btn-banner, .btn-cta, .btn-reviews, .btn-more {
    transition: all 0.5s ease;
    font-family: $font-second;
    font-weight: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem 1.5rem;
    color: #FFFFFF !important;
    border: 0;
    @include media-breakpoint-down(md) {
        font-size: 0.8rem;
    }
}

.btn-call-num, .btn-banner, .btn-reviews {
    background-color: map-get($theme-colors, tertiary);
    &:hover {
        background-color: darken(map-get($theme-colors, tertiary), 10%);
    }
}

.btn-req-serv, .btn-cta, .btn-more {
    background-color: lighten(map-get($theme-colors, second), 10%);
    &:hover {
        background-color: map-get($theme-colors, second);
    }
}

/* Exploding Button Styling ******************************************************************** */

@keyframes btn-explode{
	0%{
		opacity:1;
		transform:scale(1);
	}

	99%{
		opacity:0;
		transform:scale(2);
	}

	100%{
		pointer-events:none;
		opacity:0;
		transform:scale(2);
	}
}

.sp-button-explode{
	& > a{
		position:relative;
		z-index:2;
		& > .explosion-outliner{
			display:none;
			position:absolute;
			z-index:3;
			width:100%;
			height:100%;
			top:0;
			left:0;
			background:transparent;
			border:3px solid map-get($theme-colors, primary);
		}
	}

	&:hover{
		& > a{
			& > .explosion-outliner{
				display:block;
				animation:btn-explode;
				animation-duration:190ms;
				animation-fill-mode:forwards;
			}
		}
	}
}

/* ******************************************************************************************** */
