/* ******************************************************************************************** */
/* BUTTONS STYLING **************************************************************************** */
/* ******************************************************************************************** */

.btn-call-num, .btn-req-serv, .btn-banner, .btn-cta, .btn-reviews, .btn-more {
    transition: all 0.5s ease;
    font-family: $font-second;
    font-weight: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem 1.5rem;
    color: #FFFFFF !important;
    border: 0;
    @include media-breakpoint-down(md) {
        font-size: 0.8rem;
    }
}

.btn-call-num, .btn-banner, .btn-reviews {
    background-color: map-get($theme-colors, tertiary);
    &:hover {
        background-color: darken(map-get($theme-colors, tertiary), 10%);
    }
}

.btn-req-serv, .btn-cta, .btn-more {
    background-color: lighten(map-get($theme-colors, secondary), 10%);
    &:hover {
        background-color: map-get($theme-colors, secondary);
    }
}