<div class="row bg-white">
	<div class="col-xl-8 col-lg-10 col-12 mx-auto p-5">
		<div class="p-0 p-lg-5">
			<h2>
				Our Latest Articles
			</h2>
			<div>
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="mb-0">
							<a class="btn btn-link" href="#link">
								Article 1
							</a>
						</h5>
					</div>
					<div>
						<div class="card-body text-dark">
							<p>
								Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
							</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h5 class="mb-0">
							<a class="btn btn-link" href="#link">
								Article 2
							</a>
						</h5>
					</div>
					<div>
						<div class="card-body text-dark">
							<p>
								Our graphic designers have prepared this unique layout - based on any previous marketing materials you may have provided and the style of site you indicated. This written content will be replaced once you approve the look and feel of your design.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>