/*
 *	Bootstrap breakpoints
 *
 *	XS = 0;
 *	SM = 576px;
 *	MD = 768px;
 *	LG = 992px;
 *	XL = 1200px;
 *
 */

/******* Defaults ********/
img, iframe, video{
	max-width:100%;
}

/******* ******** ********/
/***** Color Scheme ******/
/******* ******** ********/

#content{
	background-color:white;
}

.secondary-bg-color{
	background-color:rgb(50,50,50);
	color:white;
}

/******* ******** ********/
/******** Sizing *********/
/******* ******** ********/

.big-wrap{
	max-width:1400px;
}

.wrap{
	width:1200px;
}

/******* ******** ********/
/****** Navigation *******/
/******* ******** ********/

	/******* ******** ********/
	/****** Small-screen Navigation Setup 1 *******/
	/******* ******** ********/
	
		#small-navigation-container-1{
			background-color:white;
			box-shadow:0 0 5px 2px rgba(0,0,0,0.33);
			position:relative; /* Box shadow doesn't show without a z-index */
			z-index:1;
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop{
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color:rgba(0,0,0,0.33);
			z-index:10;
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop{
			overflow:hidden; /* So there are no scroll bars when animating the child div into view */
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop > div{
			z-index:11;
			box-shadow:0 0 5px 3px black;
			background-color:white;
			width:50%;
			max-width:240px;
			transition:margin-right 150ms; /* If you change this timeframe, go to the JS file that handles the menu and also change the setTimeout interval for when it closes. */
			margin-right:-250px; /* We will animate this to 0 when they open the menu */
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop > div > .menu-heading{
			font-size:1.2em;
			font-weight:bold;
			text-align:center;
			padding:0.75em 0.35em;
			border-bottom:1px solid black;
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links > div a{
			display:block;
			font-size:0.88em;
			font-weight:bold;
			padding:0.6em 0.75em;
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links div:not(:last-child) > a{
			border-bottom:1px dotted silver;
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links .tap-dropdown{
			display:none;
		}
		
		#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links .tap-dropdown > div{
			margin-left:0.85em; /* Indent sub-menus */
		}

	/******* ******** ********/
	/****** Large-screen Navigation Setup 1 *******/
	/******* ******** ********/

		#large-navigation-container-1{
			background-color:white;
			box-shadow:0 0 5px 2px rgba(0,0,0,0.33);
			position:relative; /* Box shadow doesn't show without a z-index */
			z-index:1;
		}
		
		#large-navigation-container-1 > .d-flex{
			height:100%;
		}
		
		#large-navigation-container-1 .navigation-links > div > div{
			transition:all 450ms;
		}
		
		#large-navigation-container-1 .navigation-links > div > div:hover{
			background-color:#4f2094;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
		}
		
		#large-navigation-container-1 .navigation-links > div > div:hover > a{
			transition:color 150ms;
			text-decoration:none;
			color:white;
		}
		
		#large-navigation-container-1 .navigation-links > div > div > .dropdown,
		#large-navigation-container-1 .navigation-links > div > div > .dropdown > div > .dropdown{
			position:absolute;
			top:100%;
			left:0;
			min-width:100%;
			display:none;
			z-index:2;
		}
		
		#large-navigation-container-1 .navigation-links > div > div > .dropdown > div > .dropdown{
			left:100%;
			top:0;
			z-index:3;
		}
		
		/* Affects all divs in any dropdown */
		#large-navigation-container-1 .dropdown > div{
			position:relative;
		}
		
		#large-navigation-container-1 .navigation-links > div > div .dropdown > div{
			background-color:#4f2094;
			text-align:left;
		}
		
		#large-navigation-container-1 .navigation-links > div > div .dropdown > div > a{
			color:white;
		}
		
		#large-navigation-container-1 .navigation-links > div > div .dropdown > div:hover{
			transition:background-color 150ms;
			background-color:#6429bc;
		}
		
		#large-navigation-container-1 .navigation-links > div > div .dropdown > div > a:hover{
			text-decoration:none;
		}
		
		#large-navigation-container-1 .navigation-links > div > div .dropdown > div:not(:last-child){
			border-bottom:1px dashed gray;
		}

/******* ******** ********/
/******* ******** ********/
/******* ******** ********/

.carousel-item > div{
	height:650px;
	background-size:cover;
	background-position:center center;
}

/******* ******** ********/
/******* Footers ********/
/******* ******** ********/

#footer-container-1, html, body{
	background-color:#4f2094;
}

#footer-container-1 .column-header{
	color:#f1e8c6;
}

/* XL and below */
@media screen and (max-width:1200px){
	.navigation-links a{
		font-size:0.8em;
	}
}

/* MD and below */
@media screen and (max-width:768px){
	.carousel-item > div{
		height:300px;
		background-size:cover;
		background-position:center center;
	}
}

/******* ******** ********/
/***** Legacy Code *******/
/******* ******** ********/

.float-img-right, .float-right{
	float:right;
}

.float-img-left, .float-left{
	float:left;
}