<nav class="arrowcrumbs mx-auto mb-4 w-100 mt-n2" role="navigation" aria-label="breadcrumbs">
	<a class="arrowcrumb mr-1" href="#link">
		<svg viewBox="0 0 10 40">
			<path d="M10 20L0 0v40z"></path>
		</svg>
		<span>Home</span>
		<svg viewBox="0 0 10 40">
			<path d="M10 20L0 0v40z"></path>
		</svg>
	</a>
	<a class="arrowcrumb mr-1" href="#link">
		<svg viewBox="0 0 10 40">
			<path d="M10 20L0 0v40z"></path>
		</svg>
		<span>Library</span>
		<svg viewBox="0 0 10 40">
			<path d="M10 20L0 0v40z"></path>
		</svg>
	</a>
	<a class="arrowcrumb mr-1" href="#link">
		<svg viewBox="0 0 10 40">
			<path d="M10 20L0 0v40z"></path>
		</svg>
		<span>Data</span>
		<svg viewBox="0 0 10 40">
			<path d="M10 20L0 0v40z"></path>
		</svg>
	</a>
</nav>
