<!-- START LARGE NAVIGATION V2-M1 -->
<nav class="container-fluid" id="lg-nav-v2-1">
	<section class="row bigger-wrap align-items-center mx-auto nav-lg">
		<div class="col" id="nav-v2-1-logo-container">
			<a href="#link">
				<picture>
					<!--source type="image/webp" srcset="https://via.placeholder.com/150x150.webp"-->
					<img src="https://via.placeholder.com/150x150" alt="Company Name Logo">
				</picture>
			</a>
		</div>
		<div class="col-8" id="nav-v2-1-contents">
			<div class="row">
				<div class="col-12 d-flex justify-content-end align-items-center mx-auto pr-4 py-2">
					<div class="mr-3">
						<span class="f-prime sml text-dark text-uppercase mb-0 pb-0">
							Call Us Today at
							<a href="tel:+1-xxx-xxx-xxxx" class="call-num">
								xxx-xxx-xxxx
							</a>
						</span>
					</div>
					<div class="mr-0">
						<a href="#link" class="btn btn-primary">
							Request a Free Estimate
						</a>
					</div>
				</div>
			</div>
			<div class="row" id="nav-v2-1-links">
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>Home</span>
					</a>
				</div>
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>About</span>
						<span class="nav-v2-1-spin-chevron">
							<i class="fas fa-plus-square"></i>
						</span>
					</a>
					<div class="nav-v2-1-dropdown">
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">FAQ</a>
						</div>
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Latest Articles</a>
						</div>
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Service Area</a>
						</div>
					</div>
				</div>
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>Services</span>
						<span class="nav-v2-1-spin-chevron">
							<i class="fas fa-plus-square"></i>
						</span>
					</a>
					<div class="nav-v2-1-dropdown">
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Service 1</a>
						</div>
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Service 2</a>
						</div>
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Service 3</a>
						</div>
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Service 4 <span><i class="fas fa-plus-square"></i></span></a>
							<div class="nav-v2-1-dropdown-2 left">
								<div class="nav-v2-1-dropdown-2-link">
									<div class="nav-v2-1-border-animator" role="presentation"></div>
									<a href="#link">Service 4A</a>
								</div>
								<div class="nav-v2-1-dropdown-2-link">
									<div class="nav-v2-1-border-animator" role="presentation"></div>
									<a href="#link">Service 4B</a>
								</div>
							</div>
						</div>
						<div class="nav-v2-1-dropdown-1-link">
							<div class="nav-v2-1-border-animator" role="presentation"></div>
							<a href="#link">Service 5 <span><i class="fas fa-plus-square"></i></span></a>
							<div class="nav-v2-1-dropdown-2 right">
								<div class="nav-v2-1-dropdown-2-link">
									<div class="nav-v2-1-border-animator" role="presentation"></div>
									<a href="#link">Service 5A</a>
								</div>
								<div class="nav-v2-1-dropdown-2-link">
									<div class="nav-v2-1-border-animator" role="presentation"></div>
									<a href="#link">Service 5B</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>Reviews</span>
					</a>
				</div>
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>Projects</span>
					</a>
				</div>
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>Resources</span>
					</a>
				</div>
				<div class="col nav-v2-1-link">
					<div class="nav-v2-1-load-line" role="presentation"></div>
					<a href="#link">
						<span>Contact</span>
					</a>
				</div>
			</div>
		</div>
	</section>
</nav>
<!-- END LARGE NAVIGATION V2-M1 -->