/************** BTN CSS ********************/
.btn-form {
    background:$color-second; 
    color:lighten($color-second,30%);
    font-family:$font-prime;
    font-size:1.5em;
    &:hover {
        background: darken($color-second, 10%);
        color:$color-second !important;     
    }
}
.btn-sidebar {
    background:$color-prime;
    width:80%;
    box-sizing:border-box;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color:#fff;
    font-family:$font-prime;
    font-size:1.5em;
    
    &:hover {
        background: darken($color-prime, 10%);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        color:white;
    }
     @media screen and (max-width:$breakmed){
        width:90%;
    }
}
.btn-banner {
    width:60%;
    padding:.5rem;
    -webkit-border-radius: 30px;
    font-family:$font-prime;
    border-radius: 30px;
    background-color:$color-prime;
    color:#fff;
    font-size:1.5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    &:hover {
        background-color: darken( $color-prime, 20% );
        color:#fff !important;
    }
    
}
.btn-tri-arrow {
    background:$color-prime;
    color:$color-second;
    font-family:$font-prime;
    &::before {
        content:"\25B2";
        display:inline-block;
        -webkit-transform: rotate(90deg) scale(1.5);
        -moz-transform: rotate(90deg) scale(1.5);
        -o-transform: rotate(90deg) scale(1.5);
        -ms-transform: rotate(90deg) scale(1.5);
        transform: rotate(90deg) scale(1.5);
        padding:2%;
        
    }
    &:hover {
        color:darken($color-second, 10%) !important;
    }
   
}

div.btn-tri-up {
    position:relative;
    div {
        margin: 0 auto;
        width: 25%;
        height: 0;    
        padding-left:25%;
        padding-bottom: 25%;
        overflow: hidden;
        box-sizing:content-box;
        a {
            position:absolute;
            bottom:0;
            left:0;
            text-align:center;
            width:100%;
            margin-left:auto;
            margin-right:auto;
            background:$color-prime;
            font-family:$font-prime;
            color:$color-third;
        }
        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin-left:-500px;
            border-left: 500px solid transparent;
            border-right: 500px solid transparent;
            border-bottom: 500px solid $color-prime;
         
            } 
    }
    
    
}