/******* Defaults********/
* {
    white-space:normal;
}
img, iframe, video{
	max-width:100%;
}

a {
    cursor: pointer;
    color:$color-prime;
}
a:hover {text-decoration:none;}


#content{
	background-color:white;
}

#content p {
	color: #555;
}

/*** Sizing ******/

.big-wrap{
	max-width:1400px;
}

.wrap{
	width:1200px;
}

.append-pipe > a:not(:last-child)::after{
  content: " \007C ";
}

.secondary-bg-color{
	background-color:$color-third;
	color:white;
    p,h2 {color:white !important;}
}

.gallthumbs {
    margin-bottom:0 !important;
    margin-top:0;
}
.thumbnail {margin:0 !important;}

a.skip-main { left:-999px;position:absolute;top:auto;width:1px;height:1px;overflow:hidden;z-index:-999;
    &:focus, &:active {
        color:#fff;background-color:#000;left:auto;top:auto;width:30%;height:auto;overflow:auto;margin:10px 35%;padding:5px;border-radius:15px;border:4px solid yellow;text-align:center;font-size:1.2em;z-index:999;
    }
}

#reviews #revList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}