/******* Defaults********/
* {
    white-space:normal;
}
img, iframe, video{
	max-width:100%;
}

a {
    cursor: pointer;
    color:none;
    color:$color-prime;
}
a:hover {text-decoration:none;}


#content{
	background-color:white;
}

#content p {
	color: #555;
}

/*** Sizing ******/

.big-wrap{
	max-width:1400px;
}

.wrap{
	width:1200px;
}

.append-pipe > a:not(:last-child)::after{
  content: " \007C ";
}

.secondary-bg-color{
	background-color:$color-third;
	color:white;
    p,h2 {color:white !important;}
}