/**** Basic formats for good layouts *****/
.goldylox {
    font-size:2rem; color:$color-prime; font-weight:900; line-height:1.25em; font-family:$font-prime; }
.lilbear {
    font-size:1.5rem; color:$color-second; font-weight:900; line-height:1em;  
    @media screen and (max-width:$breakmed){
        font-size:1rem;
    }
}
.card {
    h2 {
        font-size:1.5rem;
        font-weight:bold;
        font-family:$font-prime;
    }
}

#heroCarousel {
    h5 {
        font-size:2.5rem;
        text-shadow: 1px 1px 5px #000000;
        @media screen and (max-width: $breakmed) {
            font-size:1.5rem;
        }
    }
}

.sidebar {
    background:rgba(0,0,0,.1);
    -webkit-border-radius: 10px;
border-radius: 10px;
    box-sizing:border-box;
}
.servbox {
    background:#d0d0d0;
    h2 {
        width:100%;
        text-align:center;
        text-transform:uppercase;
        color:$color-prime;
        background:$color-second;
        box-sizing:border-box;
        font-family:$font-prime;
        margin-bottom:0;
        border-bottom:3px solid $color-prime;
    }
}

.seconds { color:$color-second !important;}
.thirds {color:$color-third;}