/**** Basic formats for good layouts *****/
.goldylox {
    font-size:2rem; color:$color-prime; font-weight:900; line-height:1.25em; font-family:$font-prime; 
    @media screen and (max-width:$breakmed) {
        font-size:18pt;
    }
}
.lilbear {
    font-size:1.5rem; color:$color-second; font-weight:900; line-height:1em;  
    @media screen and (max-width:$breakmed){
        font-size:1rem;
    }
}
.mamabear {font-size:1.25rem; color:$color-second; line-height:1rem; font-family:$font-third;}
.card {
    h2 {
        font-size:1.5rem;
        font-weight:bold;
        font-family:$font-prime;
    }
}

#heroCarousel {
    h5 {
        font-size:2.5rem;
        text-shadow: 1px 1px 5px #000000;
        @media screen and (max-width: $breakmed) {
            font-size:1.5rem;
        }
    }
}

#sidebar {
    background:rgba(0,0,0,.1);
    -webkit-border-radius: 10px;
border-radius: 10px;
    box-sizing:border-box;
}
.servbox {
    background:#d0d0d0;
    h2 {
        width:100%;
        text-align:center;
        text-transform:uppercase;
        color:$color-prime;
        background:$color-second;
        box-sizing:border-box;
        font-family:$font-prime;
        margin-bottom:0;
        border-bottom:3px solid $color-prime;
    }
}
.darken {
    background-color:$color-prime;
    p {
        color:white !important;
        line-height:2rem !important;
    }
    div {
        padding:5%;
    }
}

.col-md-border {
        &:not(:last-child) {
            border-right: 1px solid rgba(255,255,255,.4);
        }

        & + .col-md-border {
            border-left: 1px solid rgba(255,255,255,.4);
            margin-left: -1px;
        }
      @media screen and (max-width: $breakmed){
        border-right: 0px solid rgba(255,255,255,.0) !important;
        }
    }
#spec1 {}
.bgcover {
    background-size:cover !important;
    background-attachment:fixed !important;
    p {
        color:#fff !important;
    }
}
.gradcover {
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(15%, rgba(28,28,28,1)), color-stop(34%, rgba(38,38,38,0.75)), color-stop(100%, rgba(76,76,76,0)));
    background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 15%, rgba(38,38,38,0.75) 34%, rgba(76,76,76,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1 );
}

.seconds { color:$color-second !important;}
.thirds {color:$color-third;}
.white {color:#fff !important;}