/**** Basic formats for good layouts *****/
.goldylox {
    font-size:2rem; color:$color-prime; font-weight:900; line-height:1.25em; font-family:$font-prime; }
.lilbear {
    font-size:1.5rem; color:$color-second; font-weight:900; line-height:1em;  
    @media screen and (max-width:$breakmed){
        font-size:1rem;
    }
}
.mamabear {font-size:1.25rem; color:$color-second; line-height:1rem; font-family:$font-third;}
.card {
    h2 {
        font-size:1.5rem;
        font-weight:bold;
        font-family:$font-prime;
    }
}

#heroCarousel {
    h5 {
        font-size:2.5rem;
        text-shadow: 1px 1px 5px #000000;
        @media screen and (max-width: $breakmed) {
            font-size:1.5rem;
        }
    }
}

.sidebar {
    background:rgba(0,0,0,.1);
    -webkit-border-radius: 10px;
border-radius: 10px;
    box-sizing:border-box;
}
.servbox {
    background:#d0d0d0;
    h2 {
        width:100%;
        text-align:center;
        text-transform:uppercase;
        color:$color-prime;
        background:$color-second;
        box-sizing:border-box;
        font-family:$font-prime;
        margin-bottom:0;
        border-bottom:3px solid $color-prime;
    }
}
.darken {
    background-color:$color-prime;
    p {
        color:white !important;
        line-height:2rem !important;
    }
    div {
        padding:5%;
    }
}

.col-md-border {
        &:not(:last-child) {
            border-right: 1px solid rgba(255,255,255,.4);
        }

        & + .col-md-border {
            border-left: 1px solid rgba(255,255,255,.4);
            margin-left: -1px;
        }
      @media screen and (max-width: $breakmed){
        border-right: 0px solid rgba(255,255,255,.0) !important;
        }
    }
#spec1 {
    background:url(../images/banner-2.png) center no-repeat;
      @media screen and (max-width: $breakmed){
        background:$color-prime;
    }
}
.bgcover {
    background-size:cover !important;
    background-attachment:fixed !important;
    p {
        color:#fff !important;
    }
    h2 {
        color:$color-second !important;
    }
}

.seconds { color:$color-second !important;}
.thirds {color:$color-third;}