/* Custom classes and css for menu in the header */
.absolutey {
    position:absolute;
    top:0;
    left:35%;
    margin-top:-75px;
}

.btn {
    border-radius:0 !important;
}

#large-navigation-container-2{
			background-color:rgba($color-prime, .6);
			position:relative; /* Box shadow doesn't show without a z-index */
			z-index:1;
		}
#large-navigation-container-2 .navigation-links > div > div{
			transition:all 450ms;
			display:inline-block;
			text-align:center;
			position:relative;
            border-bottom:3px rgba(0,0,0,.0) solid
		}
#large-navigation-container-2 .navigation-links > div > div:hover{
		    border-bottom:rgba(0,0,0,.5) solid 3px;
            background:none
           
		}