@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Unbuntu';
	src: url(../fonts/Ubuntu-BoldItalic.ttf);
}

/****** base sets ********/
p {font-family: $font-second;}
h1, h2, h4 {font-family:$font-prime;}

.large {
    font-size:4rem;
}
.med {
    font-size:3rem;
}
.small { font-size:1.5rem;
}