@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Unbuntu';
	src: url(../fonts/Ubuntu-BoldItalic.ttf);
}

/****** base sets ********/
p {font-family: $font-second;}
h1, h2, h4 {font-family:$font-prime;}

.large {
    font-size:4rem !important;
    @media screen and (max-width:$breakmed) {
        font-size:2rem !important;
    }
}
.med {
    font-size:3rem !important;
     @media screen and (max-width:$breakmed) {
        font-size:1.5rem !important;
    }
}
.small { font-size:1.5rem !important;
     @media screen and (max-width:$breakmed) {
        font-size:1rem !important;
    }
}