/****** base sets ********/
h1, h2, h3, h4, h5, p {word-wrap:break-word;}
p {font-family: $font-second;}
h1, h2, h4 {font-family:$font-prime;}

.large {
    font-size:3rem !important;
    @media screen and (min-width:$breakxl) {
        font-size:4rem !important;
    }
    @media screen and (max-width:$breaklrg){
        font-size:2.5rem !important;
    }
    @media screen and (max-width:$breakmed) {
        font-size:1.75rem !important;
    }
    @media screen and (max-width:$breaksmall) {
        font-size:1.3rem;
    }
}
.med {
    font-size:3rem !important;
     @media screen and (max-width:$breakmed) {
        font-size:1.35rem !important;
    }
    @media screen and (max-width:$breaksmall) {
        font-size:1.1rem;
    }
}
.sml { font-size:1.5rem !important;
     @media screen and (max-width:$breakmed) {
        font-size:1rem !important;
         @media screen and (max-width:$breaksmall) {
        font-size:.8rem;
    }
    }
}
.breadcrumb {
    background-color: rgba(0,0,0,.05);
    padding: .5rem 1rem;
    a {
        color:#c2cad1;
        font-size:.75rem;
    }
}
.breadcrumb-item {
    &::before {
        color:#c2cad1 !important;
            }  
    +.active {
        color:#c2cad1;
    }
} 

