/******* sass vars *******/
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Unbuntu';
	src: url(../fonts/Ubuntu-BoldItalic.ttf);
}
@font-face {
    font-family:'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}
$breaksmall: 576px;
$breakmed: 768px;
$breaklrg: 992px;
$color-prime: #333;
$color-second:#29abe1;
$color-third:#dbdbdb;
$color-alpha:rgba(41, 171, 255, 0.7);
$font-prime: Unbuntu, sans-serif;
$font-second: Raleway, sans-serif;
$font-third: Lato, sans-serif;