/******* sass vars *******/
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Unbuntu';
	src: url(../fonts/Ubuntu-BoldItalic.ttf);
}
@font-face {
    font-family:'Lime';
    src: url(../fonts/Limelight-Regular.ttf);
}
$breaksmall: 576px;
$breakmed: 768px;
$breaklrg: 992px;
$breakxl: 1200px;
$color-prime: #91AA9D;
$color-second:#3E606F;
$color-third:#D1DBBD;
$color-alpha:rgba(41, 171, 255, 0.7);
$font-prime: Unbuntu, sans-serif;
$font-second: Raleway, sans-serif;
$font-third: Lato, sans-serif;
$bg-special: url(../images/btn-cover2.png) repeat;