/******* sass vars *******/
$breaksmall: 576px;
$breakmed: 768px;
$breaklrg: 992px;
$color-prime: #333;
$color-second:#29abe1;
$color-third:green;
$color-alpha:rgba(41, 171, 255, 0.7);
$font-prime: Helvetica, sans-serif;
$font-second: Raleway, sans-serif;