/*
 *	Bootstrap breakpoints
 *
 *	XS = 0;
 *	SM = 576px;
 *	MD = 768px;
 *	LG = 992px;
 *	XL = 1200px;
 *
 */
/*
*	Bootstrap padding amounts
*
*	1 = 0.25rem;
*	2 = 0.5rem;
*	3 = 1rem;
*	4 = 1.5rem;
*	5 = 3rem;
*
*/
/******* sass vars *******/
@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf); }
@font-face {
  font-family: 'Unbuntu';
  src: url(../fonts/Ubuntu-BoldItalic.ttf); }
@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf); }
/****** base sets ********/
h1, h2, h3, h4, h5, p {
  word-wrap: break-word; }

p {
  font-family: Raleway, sans-serif; }

h1, h2, h4 {
  font-family: Unbuntu, sans-serif; }

.large {
  font-size: 4rem !important; }
  @media screen and (max-width: 768px) {
    .large {
      font-size: 2rem !important; } }
  @media screen and (max-width: 576px) {
    .large {
      font-size: 1.3rem; } }

.med {
  font-size: 3rem !important; }
  @media screen and (max-width: 768px) {
    .med {
      font-size: 1.5rem !important; } }
  @media screen and (max-width: 576px) {
    .med {
      font-size: 1.1rem; } }

.small {
  font-size: 1.5rem !important; }
  @media screen and (max-width: 768px) {
    .small {
      font-size: 1rem !important; } }
  @media screen and (max-width: 768px) and (max-width: 576px) {
    .small {
      font-size: .8rem; } }

.breadcrumb {
  padding: .5rem 1rem; }
  .breadcrumb a {
    color: #c2cad1;
    font-size: .75rem; }

.breadcrumb-item::before {
  color: #c2cad1 !important; }
.breadcrumb-item + .active {
  color: #c2cad1; }

/******* Defaults********/
* {
  white-space: normal; }

img, iframe, video {
  max-width: 100%; }

a {
  cursor: pointer;
  color: #333; }

a:hover {
  text-decoration: none; }

#content {
  background-color: white; }

#content p {
  color: #555; }

/*** Sizing ******/
.big-wrap {
  max-width: 1400px; }

.wrap {
  width: 1200px; }

.append-pipe > a:not(:last-child)::after {
  content: " \007C "; }

.secondary-bg-color {
  background-color: #dbdbdb;
  color: white; }
  .secondary-bg-color p, .secondary-bg-color h2 {
    color: white !important; }

/******* ******** ********/
/****** Navigation *******/
/******* ******** ********/
/******* ******** ********/
/****** Small-screen Navigation Setup 1 *******/
/******* ******** ********/
#small-navigation-container-1 {
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
  position: relative;
  /* Box shadow doesn't show without a z-index */
  z-index: 20; }

#small-navigation-container-1 > .pullout-menu-backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 10; }

#small-navigation-container-1 > .pullout-menu-backdrop {
  overflow: hidden;
  /* So there are no scroll bars when animating the child div into view */ }

#small-navigation-container-1 > .pullout-menu-backdrop > div {
  z-index: 11;
  box-shadow: 0 0 5px 3px black;
  background-color: white;
  width: 50%;
  max-width: 240px;
  transition: margin-right 150ms;
  /* If you change this timeframe, go to the JS file that handles the menu and also change the setTimeout interval for when it closes. */
  margin-right: -250px;
  /* We will animate this to 0 when they open the menu */ }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .menu-heading {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 0.75em 0.35em;
  border-bottom: 1px solid black; }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links > div > a {
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.6em 0.75em; }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links > div a:hover {
  background-color: #333;
  color: white; }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links > div > div a {
  display: block;
  font-size: 0.88em;
  font-weight: lighter;
  padding: 0.6em 0.75em; }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links div:not(:last-child) > a {
  border-bottom: 1px dotted silver; }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links .tap-dropdown {
  display: none; }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links .tap-dropdown > div > a {
  padding-left: 1.85em;
  /* Indent sub-menus */ }

#small-navigation-container-1 > .pullout-menu-backdrop > div > .navigation-links .tap-dropdown > div > div a {
  padding-left: 2.85em;
  /* Indent deeper sub-menus */ }

/******* ******** ********/
/****** Large-screen Navigation Setup 1 *******/
/******* ******** ********/
#large-navigation-container-1 {
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
  position: relative;
  /* Box shadow doesn't show without a z-index */
  z-index: 1; }

#large-navigation-container-1 > .d-flex {
  height: 100%; }

#large-navigation-container-1 .navigation-links > div > div {
  transition: all 450ms;
  display: inline-block;
  text-align: center;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

#large-navigation-container-1 .navigation-links > div > div > a {
  display: inline-block;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

#large-navigation-container-1 .navigation-links > div > div:hover {
  background-color: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#large-navigation-container-1 .navigation-links > div > div:hover > a {
  transition: color 150ms;
  text-decoration: none;
  color: white; }

#large-navigation-container-1 .navigation-links > div > div > .dropdown,
#large-navigation-container-1 .navigation-links > div > div > .dropdown > div > .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  display: none;
  z-index: 2; }

#large-navigation-container-1 .navigation-links > div > div > .dropdown > div > .dropdown {
  left: 100%;
  top: 0;
  z-index: 3; }

/* Affects all divs in any dropdown */
#large-navigation-container-1 .dropdown > div {
  position: relative; }

#large-navigation-container-1 .navigation-links > div > div .dropdown > div {
  background-color: #333;
  text-align: left; }

#large-navigation-container-1 .navigation-links > div > div .dropdown > div a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

#large-navigation-container-1 .navigation-links > div > div .dropdown > div > a {
  color: white; }

#large-navigation-container-1 .navigation-links > div > div .dropdown > div:hover {
  transition: background-color 150ms;
  background-color: #1a1a1a; }

#large-navigation-container-1 .navigation-links > div > div .dropdown > div > a:hover {
  text-decoration: none; }

#large-navigation-container-1 .navigation-links > div > div .dropdown > div:not(:last-child) {
  border-bottom: 1px dashed gray; }

/* LG and below */
@media screen and (max-width: 1200px) {
  #large-navigation-container-1 .navigation-links > div > div > a {
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }
/* MD and below */
@media screen and (max-width: 991px) {
  #large-navigation-container-1 .navigation-links > div > div {
    padding-left: 1rem;
    padding-right: 1rem; } }
/******* ******** ********/
/****** Large-screen Navigation Setup 2 *******/
/******* ******** ********/
#large-navigation-container-2 .navigation-links [class^=col] {
  padding-left: unset;
  padding-right: unset; }

#large-navigation-container-2 {
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
  position: relative;
  /* Box shadow doesn't show without a z-index */
  z-index: 1; }

#large-navigation-container-2 > div:nth-child(2) {
  background-color: #333; }

#large-navigation-container-2 .navigation-links > div > div {
  transition: all 450ms;
  display: inline-block;
  text-align: center;
  position: relative; }

#large-navigation-container-2 .navigation-links > div > div > a {
  display: block;
  text-align: center;
  color: #dbdbdb;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

#large-navigation-container-2 .navigation-links > div > div:hover {
  background-color: #1a1a1a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#large-navigation-container-2 .navigation-links > div > div:hover > a {
  transition: color 150ms;
  text-decoration: none;
  color: white; }

#large-navigation-container-2 .navigation-links > div > div > .dropdown,
#large-navigation-container-2 .navigation-links > div > div > .dropdown > div > .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 140%;
  max-width: 200%;
  display: none;
  z-index: 2; }

#large-navigation-container-2 .navigation-links > div > div > .dropdown > div > .dropdown {
  left: 100%;
  top: 0;
  z-index: 3; }

/* Affects all divs in any dropdown */
#large-navigation-container-2 .dropdown > div {
  position: relative; }

#large-navigation-container-2 .navigation-links > div > div .dropdown > div {
  background-color: #333;
  text-align: left; }

#large-navigation-container-2 .navigation-links > div > div .dropdown > div a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

#large-navigation-container-2 .navigation-links > div > div .dropdown > div > a {
  color: white; }

#large-navigation-container-2 .navigation-links > div > div .dropdown > div:hover {
  transition: background-color 150ms;
  background-color: #1a1a1a; }

#large-navigation-container-2 .navigation-links > div > div .dropdown > div > a:hover {
  text-decoration: none; }

#large-navigation-container-2 .navigation-links > div > div .dropdown > div:not(:last-child) {
  /* border-bottom:1px dashed gray; */ }

/* Only XL */
@media screen and (min-width: 1200px) {
  .navigation-links a {
    font-size: 1rem !important; } }
/******* ******** ********/
/******* ******** ********/
/******* ******** ********/
/******* ******** ********/
/******* Footers ********/
/******* ******** ********/
/* *** FOOTER-1 *** */
footer.fb-ftr-1 {
  background: #444;
  color: aliceblue; }

footer.fb-ftr-1 h4 {
  color: antiquewhite; }

footer.fb-ftr-1 a {
  color: aliceblue; }

.fb-ftr-1 .quick-links a {
  display: block; }

.fb-ftr-1 .service-areas a {
  border-right: solid #555 2px;
  padding-right: 6px; }

.fb-ftr-1 .service-areas a:last-child {
  border-right: none;
  padding-right: 0; }

.fb-ftr-1 .contact p {
  padding: 0;
  margin: 0; }

/******* ******** ********/
/***** Legacy Code *******/
/******* ******** ********/
.float-img-right, .float-right {
  float: right; }

.float-img-left, .float-left {
  float: left; }

.video-box > iframe, video-box > video, video-box > audio {
  width: 100%;
  max-width: 100%; }

.carousel-item > div {
  height: 650px;
  background-size: cover;
  background-position: center center; }

.carousel-item {
  padding: 10px; }

/* MD and below */
@media screen and (max-width: 991px) {
  .carousel-item > div {
    height: 300px;
    background-size: cover;
    background-position: center center; } }
/************** BTN CSS ********************/
.btn-form {
  background: #29abe1;
  color: #afe0f4;
  font-family: Unbuntu, sans-serif;
  font-size: 1.5em; }
  .btn-form:hover {
    background: #1a8dbd;
    color: #29abe1 !important; }

.btn-sidebar {
  background: #333;
  width: 80%;
  box-sizing: border-box;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: #fff;
  font-family: Unbuntu, sans-serif;
  font-size: 1.5em; }
  .btn-sidebar:hover {
    background: #1a1a1a;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: white; }
  @media screen and (max-width: 768px) {
    .btn-sidebar {
      width: 90%; } }

.btn-banner {
  width: 60%;
  padding: .5rem;
  -webkit-border-radius: 30px;
  font-family: Unbuntu, sans-serif;
  border-radius: 30px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .btn-banner:hover {
    background-color: black;
    color: #fff !important; }

.btn-tri-arrow {
  background: #333;
  color: #29abe1;
  font-family: Unbuntu, sans-serif; }
  .btn-tri-arrow::before {
    content: "\25B2";
    display: inline-block;
    -webkit-transform: rotate(90deg) scale(1.5);
    -moz-transform: rotate(90deg) scale(1.5);
    -o-transform: rotate(90deg) scale(1.5);
    -ms-transform: rotate(90deg) scale(1.5);
    transform: rotate(90deg) scale(1.5);
    padding: 2%; }
  .btn-tri-arrow:hover {
    color: #1a8dbd !important; }

div.btn-tri-up {
  position: relative; }
  div.btn-tri-up div {
    margin: 0 auto;
    width: 25%;
    height: 0;
    padding-left: 25%;
    padding-bottom: 25%;
    overflow: hidden;
    box-sizing: content-box; }
    div.btn-tri-up div a {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      background: #333;
      font-family: Unbuntu, sans-serif;
      color: #dbdbdb; }
    div.btn-tri-up div::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left: -500px;
      border-left: 500px solid transparent;
      border-right: 500px solid transparent;
      border-bottom: 500px solid #333; }

.btn-info {
  background-color: #333;
  border: none !important; }
  .btn-info:hover {
    background-color: #29abe1; }
  .btn-info:focus {
    background-color: #29abe1;
    border: none !important;
    box-shadow: #56bde7; }

#accordion .card-header button {
  white-space: normal;
  text-align: left; }

/******* ******** ********/
/***** Custom Elements ***/
/******* ******** ********/
/* @import 'him' /* For Header in Menu Uncomment this Import */
/* @import 'wix-9k' /* For Wix 9k uncomment this import */
/***** Import Template CSS *****/
/******* OVERLAY BOX *************/
.overlay-container {
  position: relative; }

.overlay-bg-image {
  display: block;
  width: 100%;
  height: auto; }

.overlay {
  background-color: rgba(41, 171, 255, 0.7);
  position: absolute;
  transition: .35s ease; }
  .overlay.from-left {
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%; }
  .overlay.from-right {
    left: 100%;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%; }
  .overlay.overlay.from-top {
    left: 0;
    right: 0;
    bottom: 100%;
    width: 100%;
    height: 0; }
  .overlay.overlay.from-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0; }

.overlay-container:hover > .from-left {
  width: 100%; }

.overlay-container:hover > .from-right {
  width: 100%;
  left: 0; }

.overlay-container:hover > .from-top {
  height: 100%;
  bottom: 0; }

.overlay-container:hover > .from-bottom {
  height: 100%; }

.overlay-text {
  display: block; }

.overlay-text > span {
  display: none;
  white-space: nowrap;
  overflow: hidden; }

.overlay-text > a {
  display: none;
  white-space: nowrap;
  overflow: hidden; }

.overlay-container:hover .overlay-text > a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute; }

.overlay-container:hover .overlay-text > span {
  display: block;
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

/**** Basic formats for good layouts *****/
.goldylox {
  font-size: 2rem;
  color: #333;
  font-weight: 900;
  line-height: 1.25em;
  font-family: Unbuntu, sans-serif; }

.lilbear {
  font-size: 1.5rem;
  color: #29abe1;
  font-weight: 900;
  line-height: 1em; }
  @media screen and (max-width: 768px) {
    .lilbear {
      font-size: 1rem; } }

.mamabear {
  font-size: 1.25rem;
  color: #29abe1;
  line-height: 1rem;
  font-family: Lato, sans-serif; }

.card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Unbuntu, sans-serif; }

#heroCarousel h5 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px #000000; }
  @media screen and (max-width: 768px) {
    #heroCarousel h5 {
      font-size: 1.5rem; } }

.sidebar {
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box; }

.servbox {
  background: #d0d0d0; }
  .servbox h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    background: #29abe1;
    box-sizing: border-box;
    font-family: Unbuntu, sans-serif;
    margin-bottom: 0;
    border-bottom: 3px solid #333; }

.darken {
  background-color: #333; }
  .darken p {
    color: white !important;
    line-height: 2rem !important; }
  .darken div {
    padding: 5%; }

.col-md-border:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.4); }
.col-md-border + .col-md-border {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: -1px; }
@media screen and (max-width: 768px) {
  .col-md-border {
    border-right: 0px solid rgba(255, 255, 255, 0) !important; } }

#spec1 {
  background: url(../images/banner-2.png) center no-repeat; }
  @media screen and (max-width: 768px) {
    #spec1 {
      background: #333; } }

.bgcover {
  background-size: cover !important;
  background-attachment: fixed !important; }
  .bgcover p {
    color: #fff !important; }
  .bgcover h2 {
    color: #29abe1 !important; }

.gradcover {
  background: #131313;
  background: -moz-linear-gradient(left, #131313 0%, #1c1c1c 15%, rgba(38, 38, 38, 0.75) 34%, rgba(76, 76, 76, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #131313), color-stop(15%, #1c1c1c), color-stop(34%, rgba(38, 38, 38, 0.75)), color-stop(100%, rgba(76, 76, 76, 0)));
  background: -webkit-linear-gradient(left, #131313 0%, #1c1c1c 15%, rgba(38, 38, 38, 0.75) 34%, rgba(76, 76, 76, 0) 100%);
  background: -o-linear-gradient(left, #131313 0%, #1c1c1c 15%, rgba(38, 38, 38, 0.75) 34%, rgba(76, 76, 76, 0) 100%);
  background: -ms-linear-gradient(left, #131313 0%, #1c1c1c 15%, rgba(38, 38, 38, 0.75) 34%, rgba(76, 76, 76, 0) 100%);
  background: linear-gradient(to right, #131313 0%, #1c1c1c 15%, rgba(38, 38, 38, 0.75) 34%, rgba(76, 76, 76, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1 ); }

.seconds {
  color: #29abe1 !important; }

.thirds {
  color: #dbdbdb; }

/* custom scss for this particular layout */
/* Custom classes and css for menu in the header */
.absolutey {
  position: absolute;
  top: 0;
  left: 35%;
  margin-top: -75px; }

#large-navigation-container-2 {
  background-color: rgba(51, 51, 51, 0.6);
  position: relative;
  /* Box shadow doesn't show without a z-index */
  z-index: 1; }

#large-navigation-container-2 .navigation-links > div > div {
  transition: all 450ms;
  display: inline-block;
  text-align: center;
  position: relative;
  border-bottom: 3px rgba(0, 0, 0, 0) solid; }

#large-navigation-container-2 .navigation-links > div > div:hover {
  border-bottom: rgba(0, 0, 0, 0.5) solid 3px;
  background: none; }

/*# sourceMappingURL=footbridge-additions.css.map */
