<!-- START LARGE NAVIGATION -->
<nav class="d-none d-xl-block p-0" id="large-navigation-container-2">
	<div class="row mx-auto p-0 align-items-center bg-tertiary">
		<div class="col px-5 text-right">
			<a href="tel:+1-xxx-xxx-xxxx" class="f-prime h1 navigation-phone-number">
				xxx-xxx-xxxx
			</a>
		</div>
		<div class="col-3 p-0 text-right">
			<div>
				<a href="#link" class="btn btn-primary btn-block btn-lg">Request a Free Estimate</a>
			</div>
		</div>
	</div>
	<div>
		<div class="container-fluid navigation-links mx-auto">
			<div class="row align-items-end">
				<div class="col-3 navigation-logo-container">
					<a href="#link">
						<picture>
							<!--source type="image/webp" srcset="https://via.placeholder.com/275x125.webp"-->
							<img src="https://via.placeholder.com/275x125" alt="Company Name Logo">
						</picture>
					</a>
				</div>
				<div class="col">
					<a href="#link">Home</a>
				</div>
				<div class="col">
					<a href="#link">About Us</a>
					<div class="dropdown">
						<div>
							<a href="#link">Latest Projects</a>
						</div>
						<div>
							<a href="#link">Service Area</a>
						</div>
						<div>
							<a href="#link">Submit Feedback</a>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#link">Our Services</a>
					<div class="dropdown">
						<div>
							<a href="#link">Related-Service-1</a>
						</div>
						<div>
							<a href="#link">Related-Service-2</a>
						</div>
						<div>
							<a href="#link">Related-Service-3 +</a>
							<div class="dropdown">
								<div>
									<a href="#link">Related-Service-3a</a>
								</div>
								<div>
									<a href="#link">Related-Service-3b</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#link">FAQ</a>
				</div>
				<div class="col">
					<a href="#link">Reviews</a>
				</div>
				<div class="col">
					<a href="#link">Home Tips</a>
				</div>
				<div class="col">
					<a href="#link">Contact</a>
				</div>
			</div>
		</div>
	</div>
</nav>
<!-- END LARGE NAVIGATION -->