<!-- START LARGE NAVIGATION -->
<div class="d-none d-xl-block p-0" id="large-navigation-container-2">
	<div class="row mx-auto p-3 align-items-center">
		<div class="col p-1 text-left">
			<a href="#link">
				<picture>
					<!--source type="image/webp" srcset="https://via.placeholder.com/300x150.webp"-->
					<img src="https://via.placeholder.com/200x125" alt="Company Name Logo">
				</picture>
			</a>
		</div>
		<div class="col p-1 d-flex justify-content-end">
			<div class="mr-3">
				<span class="f-prime h1 text-dark text-uppercase mb-0 pb-0">
					<a href="tel:+1-xxx-xxx-xxxx" class="call-num">
						xxx-xxx-xxxx
					</a>
				</span>
			</div>
			<div class="mr-0">
				<a href="#link" class="btn btn-primary btn-lg">
					Request a Free Estimate
				</a>
			</div>
		</div>
	</div>
	<div class="bg-primary">
		<div class="container-fluid navigation-links mx-auto">
			<div class="row">
				<div class="col">
					<a href="#link">Home</a>
				</div>
				<div class="col">
					<a href="#link">About Us</a>
					<div class="dropdown">
						<div>
							<a href="#link">Latest Projects</a>
						</div>
						<div>
							<a href="#link">Service Area</a>
						</div>
						<div>
							<a href="#link">Submit Feedback</a>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#link">Our Services</a>
					<div class="dropdown">
						<div>
							<a href="#link">Related-Service-1</a>
						</div>
						<div>
							<a href="#link">Related-Service-2</a>
						</div>
						<div>
							<a href="#link">Related-Service-3 +</a>
							<div class="dropdown">
								<div>
									<a href="#link">Related-Service-3a</a>
								</div>
								<div>
									<a href="#link">Related-Service-3b</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#link">FAQ</a>
				</div>
				<div class="col">
					<a href="#link">Reviews</a>
				</div>
				<div class="col">
					<a href="#link">Home Tips</a>
				</div>
				<div class="col">
					<a href="#link">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END LARGE NAVIGATION -->