#bg-reviews {
	.bg-picture-container {
		background-attachment: scroll;
		background-position: center;
		background-size: cover;
		min-height: 500px;
		@include media-breakpoint-down(lg) {
			min-height: 400px;
		}
		@include media-breakpoint-down(md) {
			min-height: 300px;
		}
	}
}