<!-- START REVIEW SECTION -->
<section class="row" id="bg-reviews">
	<div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12 mx-auto p-3 p-lg-5 text-center">
		<h2 class="">
			What Our Clients Are Saying
		</h2>		
		<div class="carousel slide" data-bs-ride="carousel" id="testimonials">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<p class="testimonial">
						<i class="fas fa-quote-left"></i>
							Reviews coming soon! [...]
						<i class="fas fa-quote-right"></i>
					</p>
				</div>
				<div class="carousel-item">
					<p class="testimonial">
						<i class="fas fa-quote-left"></i>
							Reviews coming soon! [...]
						<i class="fas fa-quote-right"></i>
					</p>
				</div>
			</div>
		</div>
		<a href="#link" class="btn btn-primary">Read More Reviews</a>
	</div>
</section>
<!-- END REVIEW SECTION -->