.service-image-brighten {
    position: relative;
    text-align: center;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        overflow: hidden;
        filter: brightness(0.5);
        transition: all 0.5s ease;
        transform: scale(1);
    }
    .service-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .service-title {
            position: absolute;
            top: 45%;
            left: 0%;
            width: 100%;
            height: auto;
            span {
                font-family: $font-prime;
                font-weight: normal;
                font-size: 25px;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
                color: #FFFFFF !important;
            }
        }
    }
    &:hover {
        img {
            filter: brightness(1);
        }
    }
    @media screen and (max-width: 1024px) {
        /* adjusting hover effects for ipad pro screen sizes and smaller */
        img {
            filter: brightness(1);
        }
    }
}